// forms partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh / Johny Jose
// 24.Jan.2013

.button {
  @include inline-block();
  @include button-interaction();
  @include box-sizing(border-box);
  @include transition(
    background 0.2s ease 0.1s,
    color 0.1s ease 0.1s,
    border 0.6s ease 0.1s
  );
  font-size:    $button-font-size;
  line-height:  $button-height;
  height:       $button-height;
  text-align:   center;

  padding: 0 #{$button-padding/$base}em;
  margin: 0 10px 0 0;
  border: {
    width: 1px;
    style: solid;
  }
  @include button-style(
    $color: $button-color,
    $bg: $button-bg,
    $border: $button-border
  );

  [class^="icon-"], [class*="icon-"] {
    margin-left: -0.2em; // visually center icon+text combo
  }
}

.button { // Button sizes & colours
  &.icon { /* smallest, icon-holder should be square */
    padding: 0 7px;
    min-width: $button-height;
    [class^="icon-"], [class*="icon-"] { margin: 0; }
  }
  &.inline { /* medium, inline */
    margin: 0 5px;
    height: $button-inline-height;
    line-height: $button-inline-height;
    padding: 0 $button-inline-padding;
  }
  &.titan { /* gigantic, block */
    font-size: $button-titan-font-size;
    height: $button-titan-height;
    line-height: $button-titan-height;
    padding: 0 $button-titan-height/2;
  }
  &.round { /* round buttons */
    width: 2*$button-round-radius;
    height: 2*$button-round-radius;
    @include border-radius($button-round-radius);
    line-height: 1.5em;
    font-size: 1.5em;
  }

  // Button colours
  &.important {
    @include button-style(
      $color: $button-prime-color,
      $bg: $button-prime-bg,
      $border: darken($button-prime-bg,10%)
    );
    &:hover {
      @include button-style(
        $color: $button-prime-color,
        $bg: darken($button-prime-bg, 10%),
        $border: darken($button-prime-bg, 20%)
      );
    }
  }
  &.hazard {
    @include button-style(
      $button-alert-color,
      $button-alert-bg,
      darken($button-alert-bg, 10%)
    );
    &:hover {
      @include button-style(
        $color: $button-alert-color,
        $bg: darken($button-alert-bg, 10%),
        $border: darken($red,20%)
      );
    }
  }
  &.accent {
    @include button-style(
      $button-accent-color,
      $button-accent-bg,
      darken($button-accent-bg, 10%)
    );
    &:hover {
      @include button-style(
        $color: $button-accent-color,
        $bg: darken($button-accent-bg, 10%),
        $border: darken($button-accent-bg, 20%)
      );
    }
  }
  &.disabled, &[disabled] {
    &[class~="button"], &[class~="button"]:hover {
      cursor: default;
      @include button-style(
        $color: $button-color,
        $bg: $button-disabled-bg,
        $border: $button-border
      );
    }
  }

  &:hover, &:active, &.active {
    text-decoration: none;
    @include button-style(
      $button-hover-color,
      $button-hover-bg
    );
    // Chameleonic buttons
    &.primary {
      @include button-style(
        $button-prime-color,
        $button-prime-bg,
        darken($button-prime-bg, 10%)
      )
    }
    &.info {
      @include button-style(
        $button-accent-color,
        $button-accent-bg,
        darken($button-accent-bg, 10%)
      );
    }
    &.alert {
      @include button-style(
        $button-alert-color,
        $button-alert-bg,
        darken($button-alert-bg, 10%)
      );
    }
  }
  &:focus {
    @include tab-focus();
  }
}

.button-group {
  @include inline-block();
  white-space: nowrap;
  font-size: 0; // eliminate space from inline-block elements
  .button { margin: 0; }
  .button ~ .button { margin-left: -1px; }
}
