//
// constants partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh / Johny Jose
// 20.Jan.2013
//

//
// All the colours and sizes are stored here.
// If you are looking for a quick makeover,
// just change the values of variables here.
//

$golden:                1.618;
$min-screen-width:      1024px;

//
//  ===========================
//  COLOURS
//  ===========================
//

// Grays
$black:                 #000 !default;
$gray-darker:           #222;
$gray-dark:             #333;
$gray:                  #555;
$gray-light:            #888;
$gray-lighter:          #bbb;
$gray-lightest:         #ddd;
$gray-ultralight:       #eee;
$white:                 #fff !default;

// Accents
$green:                 #95d905 !default;
$blue:                  #1b5ddf !default;
$sky:                   #259dff !default;
$navy:                  #023c7c !default;
$purple:                #68008c !default;
$red:                   #e20000 !default;
$orange:                #e35905 !default;
$gold:                  #da9100 !default;
$yellow:                #ffcc00 !default;


// MAIN COLOURS
$prime-color:           $green;
$accent-color:          $sky;


// Primaries
// TODOKHS: normalize the colours
$prime:                 desaturate($prime-color, $golden * 10);
$prime-darkest:         mix($black, $prime, 100% / $golden);
$prime-darker:          mix($black, $prime, 30%);
$prime-dark:            mix($black, $prime, 10%);
$prime-light:           mix($white, $prime, 100% / ( $golden * $golden * $golden) );
$prime-lighter:         mix($white, $prime, 70%);
$prime-lightest:        mix($white, $prime, 85%);

$accent:                $accent-color;
$accent-darkest:        darken($accent, 50%);
$accent-darker:         darken($accent, 30%);
$accent-dark:           darken($accent, 10%);
$accent-light:          lighten($accent, 10%);
$accent-lighter:        lighten($accent, 25%);
$accent-lightest:       lighten($accent, 40%);



//
//  ===========================
//  COMMON
//  ===========================
//
$error-bg:             lighten($red,50%);
$error-color:          $red;
$error-border:         $red;


//
//  ===========================
//  TYPOGRAPHY
//  ===========================
//
$base:             13px;
$base-font-family: 'Droid Sans', 'sans serif';
$mono-font-family: 'Droid Mono', 'Consolas', 'Lucida Console', 'Ubuntu Mono', monospace;
$base-font-size:   $base;
$base-line-height: 21px;
$base-color:       $gray;

$h6-size: 1.08em;
$h5-size: 1.15em;
$h4-size: 1.62em;
$h3-size: 2.08em;
$h2-size: 2.62em;
$h1-size: 3.38em;

// Text colours
$link-color:              $prime-dark  !default;
$link-hover-color:        $accent-dark !default;

$code-bg:                 lighten($gray-ultralight,5%);
$code-color:              $accent;

//
//  ===========================
//  GENERAL PAGE LAYOUT
//  ===========================
//
$navbar-pos:            fixed;
$navbar-height:         40px;
$navbar-icon-height:    16px;
$navbar-color:          $white;
$navbar-bg:             $prime;
$navbar-hover-bg:       $prime-dark;
$navbar-border:         $prime-dark;

$content-padding:       40px;

// keep in mind, footer has a border-box sizing
$footer-height:         50px;
$footer-paddingV:       13px;
$footer-border:         $prime-dark;
$footer-bg:             $white;


//
//  ===========================
//  PAGE NAVIGATORS & MENUS
//  ===========================
//

$side-position:             fixed;
$side-width:                200px;
$side-height:               auto;
$side-padding:              2em;
$side-border:               $gray-lightest;
$side-bg:                   $white;
$side-font-size:            $base;

// MAIN-MENU
$side-color:                $gray-dark;
$side-trim:                 $gray-lightest;
$side-hover-color:          $prime;
$side-hover-trim:           $prime;
$side-active-color:         $prime-dark;
$side-active-trim:          $prime-dark;

// SUB-MENU
$side-sub-color:            $gray-lightest;
$side-sub-trim:             $gray-lightest;
$side-sub-hover-color:      $accent;
$side-sub-hover-trim:       $accent-light;
$side-sub-active-color:     $accent;
$side-sub-active-trim:      $accent;

// UNINAV RULES
$tabbar-font-size:          1;
$tabbar-height:             25px;
$tabbar-bg:                 $side-bg;
$tabbar-color:              $side-color;
$tabbar-trim:               $side-trim;
$tabbar-hover-color:        $side-hover-color;
$tabbar-active-color:       $side-active-color;



//
//  ===========================
//  TABLES
//  ===========================
//

$table-head-bg:             $white;
$table-head-color:          $gray-light;
$table-head-font-size:      14px;
$table-border:              $gray-lighter;
$table-body-bg:             $white;
$table-body-alt-bg:         $gray-ultralight;
$table-foot-bg:             $white;

// Z-Index order



//
//  ===========================
//  BUTTONS
//  ===========================
//

// COMMON
$button-padding:         #{4px/$base}em #{20px/$base}em;
$button-font-size:       14px;
$button-height:          31px;

$button-inline-height:   26px;
$button-inline-padding:  8px;

$button-titan-font-size: 21px;
$button-titan-height:    54px;

$button-round-radius:    4em;


// COLOURS
$button-color:          $gray;
$button-bg:             $gray-ultralight;
$button-border:         darken($gray-ultralight,10%);
$button-hover-color:    $gray-darker;
$button-hover-bg:       $gray-lightest;

$button-disabled-bg:    $white;

$button-prime-bg:       $prime;
$button-prime-color:    $white;

$button-alert-bg:       $error-color;
$button-alert-color:    $white;

$button-accent-bg:      $accent;
$button-accent-color:   $white;



//
//  ===========================
//  TIDBITS
//  ===========================
//

// INFOTAG
$infoTag-color:           $accent-dark;
$infoTag-color-hover:     $accent-darker;
$infoTag-alert-color:     darken($red,10%);
$infoTag-inactive-color:  $gray-light;

$infoTag-bg:              $accent-lightest;
$infoTag-bg-hover:        $accent-lighter;
$infoTag-alert-bg:        lighten($red,35%);
$infoTag-inactive-bg:     $gray-ultralight;

// HR / DIVIDER
$divider-light-color:     $gray-ultralight;
$divider-dark-color:      $gray-dark;
$divider-width:           2px;
$divider-fat-width:       5px;

// SNIPPET
$snippet-hover-color:     $white;
$snippet-hover-fill:      $prime;
$snippet-border:          1px dashed $prime-dark;


//
//  ===========================
//  MODALS
//  ===========================
//


// MODAL
$mask-color:          rgba(255,255,255,0.8);

$modal-width:         500px;
$modal-wide-width:    70%;

$modal-shadow:        rgba(0,0,0,0.15);
$modal-bg:            $white;
$modal-border:        $gray-lightest;
$modal-inner-border:  $gray-ultralight;


//
//  ===========================
//  DROPDOWNS
//  ===========================
//
$dropdown-bg:           $white;
$dropdown-border:       $gray-ultralight;



//
//  ===========================
//  FORMS
//  ===========================
//

$form-horz-label-width: 135px;

// INPUTS
$input-height:          31px;

$input-bg:              $white;
$input-color:           $gray;
$input-border:          $gray-lighter;
$input-disabled-color:  $gray-light;
$input-shadow:          rgba(0,0,0,0.1);

$input-border-radius:   0px;
$input-focus-border:    $prime;
$input-active-border:   $prime;

// INPUT FIELD TIPS
$field-help-min-width:  200px;
$field-help-color:      $gray-light;
$field-help-link-color: $accent;
$field-help-bg:         $accent-lightest;
$field-help-border:     $accent-lighter;

// LEGEND
$legend-color:          $gray-light;
$legend-border:         $gray-lighter;

// TAGS
$tag-color:             $input-color;
$tag-bg:                $prime-lightest;
$tag-border:            $prime-light;
$tag-hover-color:       $white;
$tag-hover-bg:          $prime-light;

// MULTISELECT
$multiselect-max-height: 200px;

// EXAMPLE BOX
$example-text: "example";
$example-bg: $accent;
$example-color: $white;



// Z-INDICES
$navbar-z:              1000;
$footer-z:              700;
$modal-mask-z:          900;
$mask-z:                500;
$dropdown-z:            400;
