// footer partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh
// 4.Jun.2013

.footer {
  .nav {
    text-align: center;
    li {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
