// footer partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh
// 4.Jun.2013

.footer {
  position: relative;
  margin-top: - $footer-height - 28px;
  height: $footer-height;
  padding: $footer-padding;
  border-top: 1px solid $footer-border;
  background-color: $footer-bg;
  .nav {
    text-align: center;
    li {
      padding-left: 20px;
      padding-right: 20px;
      color: $prime-darker;
    }
  }
}
