// forms partial
// Aegis UI (derived from Playlyfe Sandbox)
// Johny Jose / Kumar Harsh
// 23.Jan.2013

form {
  margin: 0 0 $base-line-height;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $base-line-height;
  font-size: $base-font-size * 1.5;
  line-height: $base-line-height * 2;
  color: $gray-dark;
  border: 0;
  border-bottom: 1px solid $gray-lightest;
}


label, 
input,
button,
select,
textarea {
  font: normal #{$base-font-size}/#{$base-line-height} $base-font-family
}

.form-row {
  position: relative;
  margin-bottom: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  &.optional:after {
    content: '(optional)';
    margin-left: 3px;
    color: $accent;
  }
  &.required:after {
    content: '*';
    margin-left: 3px;
    color: $accent;
  }
  &.error {
    color: $red;
  }
}

.form-errors {
  @include box-sizing('border-box');
  @extend .form-row;
  @extend .unstyled;
  background-color: $error-bg;
  margin: 5px 0;
  padding: $base-line-height/2;
  border: 1px solid darken($error-bg,10%);
}

.field-errors {
  @extend .unstyled;
  margin-left: 15px;
}

.form-errors, .field-errors {
  color: $error-color;
  li {
    margin: 2px 4px;
    position: relative;
  }
}

.field-errors {
  li:before {
    font-family: "Lyfeicons";
    position: absolute;
    left: -14px;
    display: block;
    content: "\e005";
  }
}

.field-wrapper {
  position: relative;
  *display: block;
  margin: 0;
}

.form-actions {
  @extend .field-wrapper;
  margin-top: 1em;
}

select, textarea,       input[type="text"],           input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"],    input[type="time"],           input[type="week"],
input[type="number"],   input[type="email"],          input[type="url"],
input[type="search"],   input[type="tel"],            input[type="color"],
.input_container, .add-on {
  width: 100%;
  height: #{$input-height/$base}em;
  @include box-sizing('border-box');
  padding: #{4px/$base}em;
  margin: 0 0 #{9px/$base}em;
  border: 1px solid #cccccc;
  color: $input-color;
  font-size: $base-font-size;
  line-height: #{$base-line-height/$base}em;
  @include box-shadow(inset 0 1px 2px 0px $input-shadow);
  &.append {
    border-left: none;
  }
  &.prepend {
    border-right: none;
  }
}

select, textarea, input {
  &:focus ~ .field-help {
    display: block;
  }
}


fieldset {
  padding: 0;
  margin: 0 0 $base-line-height;
  border: none;
  width: 100%;
}

.input_container {
  height: auto;
}
textarea {
  height: auto;
  resize: vertical;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  float: left;
  margin: 4px 7px 0 0;
  *margin-top: 0; /* IE7 */
  line-height: $base-line-height;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; // Override of generic input selector
}

select {
  background-color: $gray-lightest;
  border: $gray-light 1px solid;
  @include border-radius(0);
  line-height: $input-height;
  height: $input-height;
}

select[multiple],
select[size] {
  height: auto;
}

// Everything else
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.input_container,
.uneditable-input {
  background-color: $input-bg;
  @include border-radius($input-border-radius);
  @include transition(border linear .2s, box-shadow linear .2s);

  // Focus state
  &:focus {
    border-color: $input-focus-border;
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 2px 0px lighten($input-focus-border, 30%));
  }
  &.active_container {
    border-color: $input-active-border;
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 2px 0 lighten($input-active-border, 30%));
  }
  &.error {
    border-color: $error-border;
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 2px 0px lighten($error-border,30%));

  }
}

// For text that needs to appear as an input but should not be an input
.uneditable-input {
  overflow: hidden; // prevent text from wrapping, but still cut it off like an input does
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: not-allowed;
  color: $input-disabled-color !important;
  border-color: lighten($input-disabled-color, 30%);
  @include box-shadow(inset 0 1px 2px lighten($input-disabled-color, 30%));
}

.prepend {
  @include border-top-right-radius(0);
  @include border-bottom-right-radius(0);
}
.append {
  @include border-top-left-radius(0);
  @include border-bottom-left-radius(0);
}

.add-on {
  display: block;
  background-color: $addon-bg;
  width: auto;
  @include text-shadow(0 1px 0 rgba(255, 255, 255, 0.75));
  &.prepend {
    text-align: right;
  }
  &.append {
    text-align: left;
  }
}

.disabled, *[disabled] {
  @include opacity(0.65);
  @include no-select();
}

// make the immutable fields align properly
.immutable {
  cursor: help;
  font-weight: 700;
  line-height: 21px;
  padding-top: 4px;
  @include box-sizing('border-box');
}

.form-search,
.form-inline, 
.form-horizontal {
  input,
  textarea,
  select, 
  .help-inline,
  .uneditable-input, 
  .input-prepend, 
  .input-append {
    display: inline-block;
    /* IE7 inline-block hack */
    *display: inline;
    *zoom: 1;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.form-horizontal {
  .form-errors {
    @extend .form-errors;
    margin-left: $form-horz-label-width + 20;
  }
  // only right align the form labels
  // not checkbox & radio texts
  .form-row {
    margin-bottom: 20px;
    .field-label {
      float: left;
      padding-top: 4px;
      text-align: right;
      width: $form-horz-label-width;
    }
  }
  .field-wrapper {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: $form-horz-label-width + 20;
    *margin-left: 0;
    &.pad {
      padding-top:6px;
    }
    &:first-child {
     *padding-left: $form-horz-label-width + 20;
    }
    .field-help {
      top: 0;
    }
  }
}
