// forms partial
// Aegis UI (derived from Playlyfe Sandbox)
// Johny Jose / Kumar Harsh
// 23.Jan.2013

form {
  @include clearfix();
  .button {
    margin: 0 0 $base-line-height/2;
  }
  input, label, fieldset, legend, textarea, select, .button, .input_container {
    float: left;
    @include box-sizing('border-box');
  }
}

.form-row {
  position: relative;
  margin-bottom: 5px;
  *zoom: 1;
  &:before, &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear:both;
  }
  legend + & {
    margin-top: #{$input-height/2};
    -webkit-margin-top-collapse: separate;
  }
  .field-tip {
    position: absolute;
    display: none;
    min-width: 200px;
    top: 0;
    left: 100%;
    margin-left:10px;
    color: $field-tip-color;
    background-color: $field-tip-bg;
    @include box-sizing('border-box');
    border: 1px solid $field-tip-border;
    padding: 0.5em 0.5em;
    a {
      color: $field-tip-hl-color;
    }
    &:hover {
      display: block;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .tip-list {
    @extend .no-list;
    @extend .no-space;
  }
}

.form-errors {
  display: none;
  position: relative;
  margin-bottom: 5px;
  *zoom: 1;
  &:before, &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear:both;
  }
  color: $error-color;
  background-color: $error-bg;
  @include box-sizing('border-box');
  border: 1px solid darken($error-color,10%);
  padding: 0.2em 1em;
}


.field-wrapper {
  *display: block;
  margin: 0;
  &.pad {
    padding-top: 2px;
    // for radio and checkboxes
    & > input:first-child {
      margin-left: 0;
    }
  }
}
.form-actions {
  @extend .field-wrapper;
  margin-top: 1em;
}
.form-help-wrapper {
  @extend .field-wrapper;
  margin-top: 0px;
}

select, textarea,       input[type="text"],           input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"],    input[type="time"],           input[type="week"],
input[type="number"],   input[type="email"],          input[type="url"],
input[type="search"],   input[type="tel"],            input[type="color"],
.input_container, .add-on {
  width: 100%;
  height: #{$input-height/$base}em;
  @include box-sizing('border-box');
  padding: #{4px/$base}em;
  margin: 0 0 #{9px/$base}em;
  border: 1px solid #cccccc;
  color: $input-color;
  font-size: $base-font-size;
  line-height: #{$base-line-height/$base}em;
  @include box-shadow(inset 0 1px 2px 0px $input-shadow);
  &.append {
    border-left: none;
  }
  &.prepend {
    border-right: none;
  }
}

select, textarea, input {
  &:focus ~ .field-tip {
    display: block;
  }
}

label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  &.optional:after {
    content: '(optional)';
    margin-left: 3px;
    color: $accent;
  }
  &.required:after {
    content: '*';
    margin-left: 3px;
    color: $accent;
  }
  &.error {
    color: $red;
  }
}

fieldset {
  padding: 0;
  margin: 0 0 $base-line-height;
  border: none;
  width: 100%;
}

// Groups of fields with labels on top (legends)
legend {
  display: block;
  padding: 0px;
  margin-bottom: $base-line-height/2;
  font-size: $h4-size;
  line-height: $base-line-height * $golden;
  color: $legend-color;
  border-bottom: 1px solid $legend-border;
  width: 100%;
}

.input_container {
  height: auto;
}
textarea {
  height: auto;
  resize: vertical;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 3px $base-font-size 0 0;
  *margin-top: 0; /* IE7 */
  line-height: $base-line-height;
  cursor: pointer;
}
input[type="file"]{
  width: 160px;
  @include opacity(0);
}

select {
  background-color: $gray-lightest;
  border: $gray-light 1px solid;
  @include border-radius(0);
  line-height: $input-height;
  height: $input-height;
}
select[multiple],
select[size] {
  height: auto;
}
// Everything else
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.input_container,
.uneditable-input {
  background-color: $input-bg;
  @include border-radius($input-border-radius);
  @include transition(border linear .2s, box-shadow linear .2s);

  // Focus state
  &:focus {
    border-color: $input-focus-border;
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 2px 0px lighten($input-focus-border, 30%));
  }
  &.active_container {
    border-color: $input-active-border;
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 2px 0 lighten($input-active-border, 30%));
  }
  &.error {
    border-color: $error-border;
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 2px 0px lighten($error-border,30%));

  }
}

// For text that needs to appear as an input but should not be an input
.uneditable-input {
  overflow: hidden; // prevent text from wrapping, but still cut it off like an input does
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: not-allowed;
  color: $input-disabled-color !important;
  border-color: lighten($input-disabled-color, 30%);
  @include box-shadow(inset 0 1px 2px lighten($input-disabled-color, 30%));
}

.prepend {
  @include border-top-right-radius(0);
  @include border-bottom-right-radius(0);
}
.append {
  @include border-top-left-radius(0);
  @include border-bottom-left-radius(0);
}

// File upload
.file-upload {
  display: block;
  position: relative;
  float: left;
  .button {
    position: relative;
    width: 70px;
  }
  input[type="file"] {
    z-index: $file-input-z;
    @include opacity(0);  // hide the actual file input
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  input[type="text"] {
    z-index: $file-input-z + 1;
    position: absolute;
    top: 0;
    left: 70px;
    // minimum width to hide browse button in firefox
    min-width: 80px;
  }
}
.prompt {
  padding: 1em 0;
}

.tag_wrapper {
  @include clearfix();
  display: block;
}
.tag_list {
  float: left;
  display: block;
  margin: 4px 0 0 4px;
  padding: 0;
  li {
    display: block;
    float: left;
    margin: 0 5px 4px 0px;
    list-style: none;
  }
}
.tag {
  @include button-interaction();
  position: relative;
  padding: 0.15em 21px 0.15em 8px;
  border: 1px solid $tag-border;
  background-color: $tag-bg;
  @include text-shadow(0 1px 0 rgba(255, 255, 255, 0.75));
  @include transition(all 0.5s ease 0.1s);

  &:hover {
    background-color: $tag-hover-bg;
    color: $tag-hover-color;
    @include box-shadow(#{inset 0 1px 2px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.05)});
    @include text-shadow(none);
    .delete {
      color: $tag-hover-color;
    }
  }

  &.error , &.error:hover {
    border: $error-border 1px solid;
    color: $error-color;
    background-color: $error-bg;
    @include text-shadow(0 1px 0 lighten($error-color,5%));
    .delete {
      color: darken($error-color, 15%);
    }
  }
  .delete {
    position: absolute;
    top: 0px;
    right:0px;
    font-size: 1.23em;
    display: block;
    height: 26px;
    width: 18px;
    padding: 3px 5px 10px 4px;
    color: $tag-color;
    @include box-sizing('border-box');
  }
}
.input_container[disabled="disabled"] {
  .tag {
    .delete {
      display: none;
    }
    &:hover {
       color: $input-disabled-color;
       background-color: $tag-bg;
       @include text-shadow(0 1px 0 rgba(255, 255, 255, 0.75));
    }
  }
}
input[type="tags"] {
  border: none;
  height: 2.08em;
  font-size: $base-font-size;
  line-height: $base-line-height;
  &:focus {
    outline: none;
  }
}
// Multiselect
.options-list{
  display: block;
  margin: 4px 0 5px 0px;
  overflow-y: auto;
  overflow-x: visible;
  min-height: $input-height;
  max-height: $multiselect-max-height;
  width: auto;
  border: none;
  padding: 5px;
  li {
    display: block;
    float: left;
    margin: 0 5px 4px 0px;
    list-style: none;
  }
  li:last-child {
    margin: 0 5px 0px 0px;
  }
}


.add-on {
  display: block;
  background-color: $addon-bg;
  width: auto;
  @include text-shadow(0 1px 0 rgba(255, 255, 255, 0.75));
  &.prepend {
    text-align: right;
  }
  &.append {
    text-align: left;
  }
}
.input-group {
  margin: 0 -5px 0 0px;
  float: left;
  *  {
    margin: 0;
    float: none;
    @include inline-block();
  }
}

.input_container {
  input[type="text"],           input[type="password"], input[type="datetime"],
  input[type="datetime-local"], input[type="date"],     input[type="month"],
  input[type="time"],           input[type="week"],     input[type="number"],
  input[type="email"],          input[type="url"],      input[type="search"],
  input[type="tel"],            input[type="color"],
  select, textarea, .add-on {
    margin-bottom: 0;
  }
}

.disabled, *[disabled] {
  @include opacity(0.65);
  @include no-select();
}


// Image Uploads
.img-wrapper {
  float: left;
  margin-right: $base-line-height / 2;
  img {
    float: left;
  }
}

// make the immutable fields align properly
.immutable {
  cursor: help;
  font-weight: 700;
  line-height: 21px;
  padding-top: 4px;
  @include box-sizing('border-box');
}

// inline buttons in forms need special treatment
form .button.inline {
  height: $input-height - 2 ; // in ems to align with fields
  line-height: $input-height - 2;
  padding: 0 #{$button-inline-padding/$base}em;
}


.form-search, .form-inline, .form-horizontal {
  input, textarea, select, .help-inline,
  .uneditable-input, .input-prepend, .input-append {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.form-horizontal {
  .form-row {
    margin-bottom: 20px;
    *zoom: 1;
  }
  .form-errors {
    @extend .form-errors;
    margin-left: $form-horz-label-width + 20;
    margin-bottom: 20px;
  }
  // only right align the form labels
  // not checkbox & radio texts
  .form-row > label {
    padding-top: 4px;
    text-align: right;
    width: $form-horz-label-width;
  }
  .field-wrapper {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: $form-horz-label-width + 20;
    *margin-left: 0;
    &.pad {
      padding-top:6px;
    }
    &:first-child {
     *padding-left: $form-horz-label-width + 20;
    }
  }
  .form-actions {
    margin-top: 0;
  }
  // special styling for smaller controls
  input[type="radio"],
  input[type="checkbox"] {
    float:none;
    margin:-0.31em 5px 0 0;
  }
  .snippet {
    line-height: 1.62em;
    margin-top: 0.31em;
  }
  .button.inline {
    margin-top: 0.31em;
  }
}

span#strength-meter {
  float: left;
  margin-top:0.5em;
  .meter-wrap {
    @include inline-block();
    vertical-align: baseline;
    position: relative;
    left: 20px;
    height: 0.38em;
    width: 50%;
    min-width: 200px;
    background-color: $gray-lightest;
    .meter {
      display:block;
      position: absolute;
      left:0; top:0;
      height:5px;
      width:5%;
      background-color: $gray-lighter;
      @include transition(all 0.5s ease 0.2s);
      &.strong {
        background-color: $green;
        width: 100%;
      }
      &.medium {
        background-color: $yellow;
        width: 60%;
      }
      &.feeble {
        background-color: $red;
        width: 20%;
      }
    }
  }
}

.fb-login {
    display: block;
    background-image: url(/images/fb-sign-in.png);
    background-repeat: no-repeat;
    width: 180px;
    height: 30px;
    margin: 0 0 10px 0px;
}

.map-input {
  .map-row, .map-actions {
    @include clearfix();
    width: 100%;
  }
  .map-row {
    position: relative;
  }
}
