// icons partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh
// 26.May.2013

@font-face {
  font-family: 'Lyfeicons';
  src: url('#{$icon-font-path}/Lyfeicons.eot');
  src: local('Lyfeicons'), local('lyfeiconsregular'),
       url('#{$icon-font-path}/Lyfeicons.eot?#iefix') format('embedded-opentype'),
       url('#{$icon-font-path}/Lyfeicons.woff') format('woff'),
       url('#{$icon-font-path}/Lyfeicons.ttf') format('truetype'),
       url('#{$icon-font-path}/Lyfeicons.svg#lyfeiconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'Lyfeicons';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  margin-right: 0.7em;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

a [class^="icon-"],
a [class*=" icon-"],
a [class^="icon-"]:before,
a [class*=" icon-"]:before {
  display: inline;
}

/* makes the font 33% larger relative to the icon container */
.icon-big:before {
  vertical-align: -10%;
  font-size: 1.5em;
}
.icon-2x { font-size: 2em; line-height: 1em; }
.icon-3x { font-size: 3em; line-height: 1em; }
.icon-4x { font-size: 4em; line-height: 1em; }

.icon-plus:before                   { content: '\E001'; }
.icon-minus:before                  { content: '\E002'; }
.icon-pl:before                     { content: '\E003'; }
.icon-playlyfe:before               { content: '\E004'; }
.icon-cross:before                  { content: '\E005'; }
.icon-tick:before                   { content: '\E006'; }
.icon-edit:before                   { content: '\E007'; }
.icon-hamburger:before              { content: '\E008'; }
.icon-cog:before                    { content: '\E009'; }
.icon-cog-double:before             { content: '\E00A'; }
.icon-eye:before                    { content: '\E00B'; }
.icon-retry:before                  { content: '\E00C'; }
.icon-hellipsis:before              { content: '\E00D'; }
.icon-vellipsis:before              { content: '\E00E'; }
.icon-cloud:before                  { content: '\E00F'; }
.icon-new:before                    { content: '\E010'; }
.icon-trash:before                  { content: '\E011'; }
.icon-copy:before                   { content: '\E012'; }
.icon-exit:before                   { content: '\E013'; }
.icon-loop:before                   { content: '\E014'; }
.icon-refresh:before                { content: '\E015'; }
.icon-feed:before                   { content: '\E016'; }
.icon-user:before                   { content: '\E017'; }
.icon-calendar:before               { content: '\E018'; }
.icon-search:before                 { content: '\E019'; }
.icon-settings:before               { content: '\E01A'; }
.icon-castle:before                 { content: '\E01B'; }
.icon-triskelion-light:before       { content: '\E01C'; }
.icon-triskelion-dark:before        { content: '\E01D'; }
.icon-trophy:before                 { content: '\E01E'; }
.icon-left:before                   { content: '\E01F'; }
.icon-right:before                  { content: '\E020'; }
.icon-up:before                     { content: '\E021'; }
.icon-down:before                   { content: '\E022'; }
.icon-double-right:before           { content: '\E023'; }
.icon-double-left:before            { content: '\E024'; }
.icon-round-question:before         { content: '\E025'; }
.icon-round-question-fill:before    { content: '\E026'; }
.icon-round-warning:before          { content: '\E027'; }
.icon-round-warning-fill:before     { content: '\E028'; }
.icon-warning:before                { content: '\E029'; }
.icon-warning-fill:before           { content: '\E02A'; }
.icon-round-info:before             { content: '\E02B'; }
.icon-round-info-fill:before        { content: '\E02C'; }
.icon-round-asterisk:before         { content: '\E02D'; }
.icon-round-asterisk-fill:before    { content: '\E02E'; }
.icon-round-plus:before             { content: '\E02F'; }
.icon-round-plus-fill:before        { content: '\E030'; }
.icon-round-minus:before            { content: '\E031'; }
.icon-round-minus-fill:before       { content: '\E032'; }
.icon-round-cross:before            { content: '\E033'; }
.icon-round-cross-fill:before       { content: '\E034'; }
.icon-round-tick:before             { content: '\E035'; }
.icon-round-tick-fill:before        { content: '\E036'; }
.icon-new-object:before             { content: '\E038'; }
.icon-message:before                { content: '\E037'; }
.icon-conversation:before           { content: '\E039'; }
.icon-bell:before                   { content: '\E03A'; }
.icon-target:before                 { content: '\E03B'; }
.icon-checklist:before              { content: '\E03C'; }
.icon-hourglass:before              { content: '\E03D'; }
.icon-round-hourglass:before        { content: '\E03E'; }
.icon-power-off:before              { content: '\E03F'; }
.icon-world:before                  { content: '\E040'; }
.icon-lock:before                   { content: '\E041'; }
.icon-unlock:before                 { content: '\E042'; }
.icon-key:before                    { content: '\E043'; }
.icon-object:before                 { content: '\E044'; }
.icon-mobile:before                 { content: '\E045'; }
.icon-tablet:before                 { content: '\E046'; }
.icon-laptop:before                 { content: '\E047'; }
.icon-tv:before                     { content: '\E048'; }
.icon-play:before                   { content: '\E049'; }
.icon-contract:before               { content: '\E04A'; }
.icon-expand:before                 { content: '\E04B'; }
.icon-dice:before                   { content: '\E04C'; }
.icon-point:before                  { content: '\E04D'; }
.icon-set:before                    { content: '\E04E'; }
.icon-state:before                  { content: '\E04F'; }
.icon-badge:before                  { content: '\E050'; }
.icon-star-fill:before              { content: '\E051'; }
.icon-star:before                   { content: '\E052'; }
.icon-circle:before                 { content: '\E053'; }
.icon-circle-fill:before            { content: '\E054'; }
.icon-circle-half-pre:before        { content: '\E055'; }
.icon-circle-half-post:before       { content: '\E056'; }
.icon-token:before                  { content: '\E057'; }
.icon-code:before                   { content: '\E058'; }
.icon-user-plus:before              { content: '\E059'; }
.icon-user-minus:before             { content: '\E05A'; }
.icon-team:before                   { content: '\E05B'; }
.icon-process:before                { content: '\E05C'; }
.icon-subprocess:before             { content: '\E05D'; }
.icon-node-plus:before              { content: '\E05E'; }
.icon-node-cross:before             { content: '\E05F'; }
.icon-node-minus:before             { content: '\E060'; }
.icon-task:before                   { content: '\E061'; }
.icon-gateway-exclusive:before      { content: '\E062'; }
.icon-gateway-parallel:before       { content: '\E063'; }
.icon-link:before                   { content: '\E064'; }
.icon-unlink:before                 { content: '\E065'; }
.icon-role:before,
.icon-bow:before                    { content: '\E066'; }
.icon-lane:before                   { content: '\E067'; }
.icon-shuttle:before                { content: '\E068'; }
.icon-shuttle-loop:before           { content: '\E069'; }
.icon-rank:before                   { content: '\E06A'; }
.icon-crown:before                  { content: '\E06B'; }
.icon-podium:before                 { content: '\E06C'; }
.icon-download:before,
.icon-cloud-down:before             { content: '\E06D'; }
.icon-upload:before,
.icon-cloud-up:before               { content: '\E06E'; }
.icon-document:before               { content: '\E06F'; }
.icon-pie:before                    { content: '\E070'; }
.icon-bars:before                   { content: '\E071'; }
.icon-mail:before                   { content: '\E072'; }
.icon-wand:before                   { content: '\E073'; }
.icon-tag:before                    { content: '\E074'; }
.icon-braces:before                 { content: '\E075'; }
.icon-prompt:before                 { content: '\E076'; }
.icon-sigma:before                  { content: '\E077'; }
.icon-expand-double:before          { content: '\E078'; }
.icon-contract-double:before        { content: '\E079'; }
.icon-compass:before                { content: '\E07A'; }
.icon-tracker:before                { content: '\E07B'; }
.icon-set-square:before             { content: '\E07C'; }
.icon-sandbox:before                { content: '\E07D'; }
.icon-clock:before                  { content: '\E07E'; }
.icon-wrench:before                 { content: '\E07F'; }
.icon-hammer:before                 { content: '\E080'; }
.icon-wrench-hammer:before          { content: '\E081'; }
.icon-face-happy:before             { content: '\E082'; }
.icon-face-dead:before              { content: '\E083'; }
.icon-face-sad:before               { content: '\E084'; }
.icon-user-cross:before             { content: '\E085'; }
.icon-user-disable:before           { content: '\E086'; }
.icon-user-key:before               { content: '\E087'; }
.icon-rules:before                  { content: '\E088'; }
.icon-grid:before                   { content: '\E089'; }
.icon-list:before                   { content: '\E08A'; }
.icon-round-disable:before          { content: '\E08B'; }
.icon-round-disable-fill:before     { content: '\E08C'; }
.icon-paper-plane:before            { content: '\E08D'; }
.icon-flag:before                   { content: '\E08F'; }
.icon-flag-fill:before              { content: '\E08E'; }
.icon-camera:before                 { content: '\E090'; }
.icon-bookmark:before               { content: '\E091'; }
.icon-heart:before                  { content: '\E093'; }
.icon-heart-fill:before             { content: '\E092'; }
.icon-undo:before                   { content: '\E094'; }
.icon-redo:before                   { content: '\E095'; }
.icon-bag:before                    { content: '\E096'; }
.icon-marker:before                 { content: '\E097'; }
.icon-pin-small:before              { content: '\E098'; }
.icon-pin-big:before                { content: '\E099'; }
.icon-pin-disable:before            { content: '\E09A'; }
.icon-shine:before                  { content: '\E09B'; }
.icon-gamepad:before                { content: '\E09C'; }
.icon-blackboard:before             { content: '\E09D'; }
.icon-book:before                   { content: '\E09E'; }
