// icons partial
// Aegis UI (derived from Playlyfe Sandbox)
// Johny Jose / Kumar Harsh
// 26.May.2013

@font-face {
  font-family: 'Lyfeicons';
  src: url('#{$icon-font-path}/lyfeicons-webfont.eot');
  src: local('Lyfeicons'), local('lyfeiconsregular'),
        url('#{$icon-font-path}/lyfeicons-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$icon-font-path}/lyfeicons-webfont.woff') format('woff'),
       url('#{$icon-font-path}/lyfeicons-webfont.ttf') format('truetype'),
       url('#{$icon-font-path}/lyfeicons-webfont.svg#lyfeiconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'Lyfeicons';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  margin-right: 0.7em;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

a [class^="icon-"],
a [class*=" icon-"],
a [class^="icon-"]:before,
a [class*=" icon-"]:before {
  display: inline;
}

/* makes the font 33% larger relative to the icon container */
.icon-big:before {
  vertical-align: -10%;
  font-size: 1.5em;
}
.icon-2x { font-size: 2em; line-height: $base-line-height * 2; }
.icon-3x { font-size: 3em; line-height: $base-line-height * 2; }
.icon-4x { font-size: 4em; line-height: $base-line-height * 3; }

.icon-add:before          { content: '\E001'; }
.icon-subtract:before     { content: '\E002'; }
.icon-edit:before         { content: '\E003'; }
.icon-erase:before        { content: '\E004'; }
.icon-tick:before         { content: '\E005'; }
.icon-cross:before        { content: '\E006'; }
.icon-view:before         { content: '\E007'; }
.icon-delete:before       { content: '\E008'; }
.icon-cog:before          { content: '\E009'; }
.icon-menu:before         { content: '\E00A'; }
.icon-calendar:before     { content: '\E00B'; }
.icon-reset:before        { content: '\E00C'; }
.icon-dead-face:before    { content: '\E00D'; }
.icon-sad-face:before     { content: '\E00E'; }
.icon-happy-face:before   { content: '\E00F'; }
.icon-home:before         { content: '\E010'; }
.icon-user:before         { content: '\E011'; }
.icon-square:before       { content: '\E012'; }
.icon-circle:before       { content: '\E013'; }
.icon-up:before           { content: '\E014'; }
.icon-down:before         { content: '\E015'; }
.icon-right:before        { content: '\E016'; }
.icon-left:before         { content: '\E017'; }
.icon-grid:before         { content: '\E018'; }
.icon-details:before      { content: '\E019'; }
.icon-search:before       { content: '\E01A'; }
.icon-roundtick:before    { content: '\E01B'; }
.icon-roundcross:before   { content: '\E01C'; }
.icon-warning:before      { content: '\E01D'; }
.icon-help:before         { content: '\E01E'; }
.icon-star:before         { content: '\E01F'; }
.icon-sandbox:before      { content: '\E020'; }
.icon-simulate:before     { content: '\E021'; }
.icon-design:before       { content: '\E022'; }
.icon-exclusive:before    { content: '\E023'; }
.icon-parallel:before     { content: '\E024'; }
.icon-gateway:before      { content: '\E024'; } /* general icon */
.icon-play:before         { content: '\E025'; }
.icon-lane:before         { content: '\E026'; }
.icon-loop:before         { content: '\E027'; }
.icon-right-half:before   { content: '\E028'; } /* no sooner than */
.icon-left-half:before    { content: '\E029'; } /* no later than */
.icon-clock:before        { content: '\E02A'; }
.icon-token:before        { content: '\E02B'; }
.icon-code:before         { content: '\E02C'; }
.icon-mail:before         { content: '\E02D'; }
.icon-web:before          { content: '\E02E'; }
.icon-twitter:before      { content: '\E02F'; }
.icon-builder:before      { content: '\E030'; }
.icon-settings:before     { content: '\E031'; }
.icon-mechanics:before    { content: '\E032'; }
.icon-dev-tools:before    { content: '\E033'; }
.icon-pl:before           { content: '\E034'; }
.icon-playlyfe:before     { content: '\E035'; }
.icon-fullscreen:before   { content: '\E036'; }
.icon-restore:before      { content: '\E037'; }
.icon-properties:before   { content: '\E038'; }
.icon-stats:before        { content: '\E039'; }
.icon-copy:before         { content: '\E03A'; }
.icon-regen:before        { content: '\E03B'; }
.icon-tag:before          { content: '\E03C'; }
.icon-rank:before         { content: '\E03D'; }
.icon-badge:before        { content: '\E03E'; }
.icon-point:before        { content: '\E03F'; }
.icon-team:before         { content: '\E040'; }
.icon-target:before       { content: '\E041'; }
.icon-roundplus:before    { content: '\E042'; }
.icon-roundminus:before   { content: '\E043'; }
.icon-disabled:before     { content: '\E044'; }
.icon-link:before         { content: '\E045'; }
.icon-unlink:before       { content: '\E046'; }
.icon-add-node:before     { content: '\E047'; }
.icon-delete-node:before  { content: '\E048'; }
.icon-task:before         { content: '\E049'; }
.icon-expand:before       { content: '\E04A'; }
.icon-contract:before     { content: '\E04B'; }
.icon-process:before      { content: '\E04C'; }
