// Utility mixins
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin button-interaction() {
  @include no-select();
  @extend .no-anchor;
  cursor: pointer;
}

@mixin tab-focus() {
  // Default
  outline: thin dotted $prime-dark;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

@mixin button-style($color: null, $bg: null, $border: null) {
  @if $color != null {
    color: $color;
  }
  @if $bg != null {
    background-color: $bg;
  }
  @if $border != null {
    border-color: $border;
  }
}
