// Utility mixins

// clearfix
@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    clear: both;
  }
}

// apply on <a> tags to remove underline
@mixin no-anchor {
  text-decoration: none !important;
  outline: none;
  &:hover {
    text-decoration: none !important;
  }
}

// make the text unselectable (in supported browsers)
@mixin no-select() {
  -webkit-touch-callout: none;
  @include user-select(none);
}

// give non-button elements properties of a button
@mixin button-interaction() {
  @include no-select();
  @include no-anchor;
  cursor: pointer;
}

@mixin tab-focus() {
  // Default
  outline: thin dotted $prime-dark;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

@mixin button-style($color: null, $bg: null, $border: null) {
  @if $color != null {
    color: $color;
  }
  @if $bg != null {
    background-color: $bg;
  }
  @if $border != null {
    border-color: $border;
  }
}

// animation mixins
// when compass 0.13 comes out,
// this will be removed
@mixin animation($opts) {
  -webkit-animation: $opts;
     -moz-animation: $opts;
      -ms-animation: $opts;
       -o-animation: $opts;
          animation: $opts;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
