//
// ............................................
// `******************************************`
// `*----------------------------------------*`
// `*|              HEADER                  |*`
// `*|--------------------------------------|*`
// `*|                                      |*`
// `*|               BODY                   |*`
// `*|                                      |*`
// `*|                                      |*`
// `*|--------------------------------------|*`
// `*|              FOOTER                  |*`
// `*|______________________________________|*`
// `******************************************`
// ````````````````````````````````````````````
//


.mask, .mask-content {
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: $mask-color;
  z-index: $mask-z;
}
.mask-content {
  background-color: transparent;
  @include box-sizing('border-box');
  z-index: $mask-z + 1;
  padding: 20px 10px;
}

.modal-mask {
  position: fixed;
  z-index: $modal-mask-z;
}
.modal {
  position: fixed;
  width: $modal-width;
  margin-left: - $modal-width/2;
  top: 15%;
  left: 50%;
  overflow: hidden;
  background: $white;
  z-index: $modal-mask-z + 1;
  border: 1px solid $modal-border;
  @include box-shadow(1px 2px 7px $modal-shadow);
  @include background-clip(padding-box);

  &.lined {
    .modal-header { border-bottom: 1px solid $modal-inner-border; }
    .modal-footer { border-top: 1px solid $modal-inner-border; }
  }
  &.special { border-top-width: 10px; }
  &.wide {
    width: $modal-wide-width;
    margin-left: - $modal-wide-width/2;
  }
  &.primary {
    border-color: $prime-dark;
    @include box-shadow(1px 2px 7px $prime-light);
  }
  &.info {
    border-color: $accent-dark;
    @include box-shadow(1px 2px 7px $accent-lighter);
  }
  &.alert {
    border-color: desaturate($error-color,10%);
    @include box-shadow(1px 2px 7px $error-bg);
  }
}
.modal-close {
  @include button-interaction();
  position: absolute;
  top: 4px; right: 0;
  font-size: 1.5em;
  z-index: 1;
  color: $modal-border;
  &:hover {
    color: $red;
  }
}
.modal-section {
  padding: 1em 2em;
  position: relative;
  overflow: hidden;
}
.modal-header { padding-top:0; padding-bottom: 0; }

.overlay-spinner {
  position: relative;
  top:50%;
  margin-top: -45px;
  text-align: center;
  text-transform: uppercase;
}
