// navigation partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh
// 20.Jan.2013


.nav {
  @include clearfix();
  @extend .no-list;
  @extend .no-space;
  a {
    @include button-interaction();
    display: block;
  }
}

.navbar {
  position: $navbar-pos;
  @include box-sizing('border-box');
  background-color: $navbar-bg;
  border-bottom: 1px solid $navbar-border;
  z-index: $navbar-z;
  width: 100%;
  top: 0;
  .navbar-inner {
    height: $navbar-height;
  }
  li {
    float: left;
    display: block;
    &:hover {
      background-color: $navbar-hover-bg;
    }
  }
  a {
    color: $navbar-color;
    line-height: $navbar-height;
    padding: 0 ($navbar-height - $navbar-icon-height)/2;
    &:hover {
      color: $navbar-color;
      background-color: $navbar-hover-bg;
    }
  }
  .crest {
    float: left;
    display: block;
    @include box-sizing('border-box');
    height: $navbar-height;
    padding: 6px 12px 5px 0;
    font-size: 1em;
    line-height: 1em;
    color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
}
