.tabbar {
  position: relative;
  top: -#{$tabbar-height};
  background-color: $tabbar-bg;
  @include clearfix();
  // if you want tabbar to stick at top when scrolled
  &.stuck {
    position: fixed;
    top: $tabbar-height + 1em;
    width:96%;
    z-index: $tabbar-z;
  }
  .tab-item {
    display: block;
    text-align: center;
    float:left;
    .label {
      width:160px;
      @extend .no-anchor;
      @include box-sizing('border-box');
      cursor: pointer;
      height: $tabbar-height;
      padding-top:5px;
      color: $tabbar-color;
      border-bottom: 1px solid $tabbar-trim;
      @include transition(color 0.2s ease 0.1s, border-color 0.3s ease 0.1s);
      &:hover {
        color: $tabbar-hover-color;
        border-bottom: 3px solid $tabbar-hover-color;
      }
    }
    &.live {
      .label {
        color: $tabbar-active-color;
        font-weight: bold;
        border-bottom: 5px solid $tabbar-active-color;
        @include transition(border-width 0.3s ease 0.1s);
        &:hover {
          color: lighten($tabbar-active-color, 10%);
          border-bottom-color: lighten($tabbar-active-color, 10%);
        }
      }
    }
  }
}

.tabview {
  position: relative;
  z-index: $tabbar-z - 1;
  overflow: hidden;
  top: -#{$tabbar-height};
}







// .tabs {
//   position: relative;
//   min-height: 400px; /* This part sucks */
//   clear: both;
//   margin: 25px 0;
//   .tab {
//     float: left;
//   }
//   .tab label {
//     background: #eee;
//     padding: 10px;
//     border: 1px solid #ccc;
//     margin-left: -1px;
//     position: relative;
//     left: 1px;
//     display: inline;
//     margin-bottom: none;
//     width: auto;
//     @include button-interaction();
//   }
//   .tab [type=radio] {
//     display: none;
//   }
//   .content {
//     position: absolute;
//     top: 28px;
//     left: 0;
//     background: white;
//     right: 0;
//     bottom: 0;
//     padding: 20px;
//     border: 1px solid #ccc;
//     overflow: hidden;
//   }

//   .content > * {
//     opacity: 0;
//   }

//   [type=radio]:checked ~ label {
//     background: white;
//     border-bottom: 1px solid white;
//     z-index: 2;
//   }

//   [type=radio]:checked ~ label ~ .content {
//     z-index: 1;
//   }

//   [type=radio]:checked ~ label ~ .content > * {
//     opacity: 1;
//   }
// }
