// table partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh
// 20.Mar.2013

.table {
  border-collapse: collapse;
  margin: 2em 0;

  // cell sizes for table cells
  @for $i from 1 through 10 {
    .cell-#{$i} { width: $i * 10%; }
  }

  thead {
    background-color: $table-head-bg;
  }
  th {
    color: $table-head-color;
    text-align: left;
    font-size: $base;
    border: 1px solid $table-border;
    padding: #{5px/$base}em 0.25em;
    @include box-sizing('border-box');
  }
  td {
    padding: #{10px/$base}em 0.25em;
    vertical-align: top;
    border: 1px solid $table-border;
    .info-tag {
      padding: 0.1em 0.25em;
      margin-right:1em;
    }
  }

  td.ops {
    padding:6px 0;
  }
  .extra-info {
    font-style: italic;
    font-size: #{12px/$base}em;
    padding-left: #{8px/$base}em;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /*
   * constrain the width of long values
   * which can potentially destroy a layout
   */
  .constraint {
    max-width:100%;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
  }
  .no-list > li {
    padding-bottom: 0em;
  }
  tbody tr {
    .row-action {
      display: block;
      visibility: hidden;
      a { cursor: pointer; }
    }
    .action-item {
      @extend .icon-group;
    }
    &:hover {
      .row-action { visibility: visible; }
    }
  }
  tfoot {
    background-color: $table-foot-bg;
    td { text-align: center; padding: #{15px/$base} 0;}
  }
}

// table types
.table {
  // without borders
  &.non-bordered {
    th {
      font-size: #{16px/$base}em;
    }
    td, th {
      border: none;
      padding: 0.5em 1em;
    }
  }

  // tables suited for lists
  &.listing {
    & > thead > tr > th {
      border: none;
      font-size: #{16px/$base}em;
    }
    & > tbody > tr {
      & > td { border: none; }
      border-bottom: 1px solid $table-border;
      &:hover {
        color: $prime-darker;
        border-bottom: 1px solid $green;
      }
    }
  }

  // the full width tables
  &.expanded {
    table-layout: fixed;
    width: 100%;
    min-width: 670px;
  }

    // alternating stripes
  &.striped {
    tr:nth-child(2n) {
      background-color: $table-body-alt-bg;
    }
  }
}
