// table partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh
// 20.Mar.2013

.table {
  border-collapse: collapse;
  margin: 2em 0;
  width: 100%;

  /* cell sizes for table cells */
  @for $i from 1 through 10 {
    .cell-#{$i} { width: $i * 10%; }
  }

  thead {
    background-color: $table-head-bg;
  }
  th {
    color: $table-head-color;
    font-size: $table-head-font-size;
    border: 1px solid $table-border;
    padding: 6px 8px;
    @include box-sizing('border-box');
    text-align: left;
  }
  tbody {
    background-color: $table-body-bg;
  }
  td {
    vertical-align: top;
    padding: 4px 8px;
    border: 1px solid $table-border;
  }

  /*
   * constrain the width of long values
   * which can potentially destroy a layout
   */
  .constraint {
    max-width:100%;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
  }
  .list-unstyled > li {
    padding-bottom: 0em;
  }
  tfoot {
    background-color: $table-foot-bg;
    td { text-align: center; }
  }
  /* table types */

  /* condensed */
  &.condensed {
    th, td {
      padding: 2px 4px;
    }
  }
  /* spaced out */
  &.expanded {
    th, td {
      padding: $base-line-height/2 $base-line-height;
    }
  }

  /* tables suited for lists */
  &.listing {
    > thead > tr > th {
      border: none;
      font-size: $table-head-font-size + 2;
    }
    > tbody > tr {
      & > td { border: none; }
      border-bottom: 1px solid $table-border;
    }
  }
  /* alternating stripes */
  &.striped {
    > tbody > tr:nth-child(2n+1) {
      background-color: $table-body-alt-bg;
    }
  }
  /* with row highlights */
  &.highlight {
    > tbody > tr:hover {
      background-color: $accent-lightest;
      color: $accent-darker;
      border-bottom: 1px solid $accent;
    }
  }
  /* without borders */
  &.borderless {
    th {
      font-size: #{16px/$base}em;
    }
    td, th {
      border: none;
    }
  }
  &.fixed {
    table-layout: fixed;
  }
  &.shrunk {
    width: auto;
  }
  /* reset for grid column classes */
  table[class*='col-'] { display: table; }
}
