/*
 * tidbits partial
 * Aegis UI (derived from Playlyfe Sandbox)
 * Kumar Harsh
 * 23.Mar.2013
 */


// The media object
// (OOCSS / stubbornella.com)
.media {
  margin: 10px;
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
  .content {
    /* use overflow for clearing floats and
     creating new layout context */
    overflow: hidden;
    zoom: 1;
  }
  .image {
    /* you can float the image to either left or right */
    float: left;
    margin-right: 10px;
    img {
      display: block;
    }
    &.right {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}

/*
 * This partial gives you some extra elements
 * for your page. See the demo page for examples.
 */

.info-tag {
  padding: 0.2em 0.4em;
  background-color: $infoTag-bg;
  color: $infoTag-color;
  border:1px solid lighten($infoTag-color,10%);
  @include button-interaction();

  &:hover {
    background-color: $infoTag-bg-hover;
    color: $infoTag-color-hover;
    @include transition(all 0.2s ease 0.1s);
  }
  &.alert {
    color: $infoTag-alert-color;
    background-color: $infoTag-alert-bg;
    border: 1px solid lighten($infoTag-alert-color, 20%);
    &:hover {
      color: darken($infoTag-alert-color, 15%);
      background-color: darken($infoTag-alert-bg, 15%);
    }
  }
  &.inactive {
    color: $infoTag-inactive-color;
    background-color: $infoTag-inactive-bg;
    border: 1px solid lighten($infoTag-inactive-color, 15%);
    &:hover {
      color: darken($infoTag-inactive-color, 10%);
      background-color: darken($infoTag-inactive-bg, 10%);
      border-color: lighten($infoTag-inactive-color, 5%);
    }
  }
}

// Dividers
hr.dotted {
  border: 0;
  margin: 5px auto;
  height: 1px;
  border-bottom: $divider-width dotted $divider-light-color;
  &.fat {
    margin: 4*$divider-fat-width auto;
    border-width: $divider-fat-width;
  }
  &.dark {
    border-color: $divider-dark-color;
  }
}


// Copy-able snippet.
// Generally used for information you'd want
// people to copy, like a url or a large random hash
.snippet {
  @include box-sizing('border-box');
  @include inline-block();
  max-width: 400px;
  padding: 0.2em 0.5em;
  border: $snippet-border;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  &:hover {
    background-color: $snippet-hover-fill;
    color: $snippet-hover-color;
    @include transition(all 0.4s ease 0.1s);
  }
}


.example {
  background-color: #fefefc;
  margin: 1em 0;
  padding: 2em 2em 1em;
  border: 1px solid lighten($example-bg, 30%);
  @include box-shadow(inset 0px -1px 5px 0px lighten($example-bg, 40%));
  overflow: hidden;
  &:after {
    display: block;
    padding: 2px 5px;
    content: $example-text;
    text-transform: uppercase;
    background-color: $example-bg;
    border: darken($example-bg, 10%);
    color: $example-color;
    position: absolute;
    top: -1px;
    right: -1px;
  }
}
