/*
 * tidbits partial
 * Aegis UI (derived from Playlyfe Sandbox)
 * Kumar Harsh
 * 23.Mar.2013
 */


/*
 * This partial gives you some extra elements
 * for your page. See the demo page for examples.
 */

.info-tag {
  padding: 0.2em 0.4em;
  background-color: $infoTag-bg;
  color: $infoTag-color;
  border:1px solid lighten($infoTag-color,10%);
  @include button-interaction();

  &:hover {
    background-color: $infoTag-bg-hover;
    color: $infoTag-color-hover;
    @include transition(all 0.2s ease 0.1s);
  }
  &.alert {
    color: $infoTag-alert-color;
    background-color: $infoTag-alert-bg;
    border: 1px solid lighten($infoTag-alert-color, 20%);
    &:hover {
      color: darken($infoTag-alert-color, 15%);
      background-color: darken($infoTag-alert-bg, 15%);
    }
  }
  &.inactive {
    color: $infoTag-inactive-color;
    background-color: $infoTag-inactive-bg;
    border: 1px solid lighten($infoTag-inactive-color, 15%);
    &:hover {
      color: darken($infoTag-inactive-color, 10%);
      background-color: darken($infoTag-inactive-bg, 10%);
      border-color: lighten($infoTag-inactive-color, 5%);
    }
  }
}

// Dividers
hr.dotted {
  border: 0;
  margin: 5px auto;
  height: 1px;
  border-bottom: $divider-width dotted $divider-light-color;
  &.fat {
    margin: 4*$divider-fat-width auto;
    border-width: $divider-fat-width;
  }
  &.dark {
    border-color: $divider-dark-color;
  }
}


// Copy-able snippet.
// Generally used for information you'd want
// people to copy, like a url or a large random hash
.snippet {
  @include box-sizing('border-box');
  @include inline-block();
  max-width:400px;
  padding: 0.2em 0.5em;
  border: $snippet-border;

  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: #{12px/$base}em;
  &:hover {
    background-color: $snippet-hover-fill;
    color: $snippet-hover-color;
    @include transition(all 0.4s ease 0.1s);
  }
}


// TODO: dont exactly know where i'm using this...
.tip {
  margin: $base-line-height/2 0;
  &.info {
    padding: $base-line-height/2;
    background-color: $accent-lightest;
    border: 1px solid $accent-lighter;
    color: $accent;
    a, a:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  &.alert {
    color: $red;
    background-color: lighten($red,50%);
    border: 1px solid $red;
    padding: $base-line-height/2;
  }
}
