// Typography
@font-face {
  font-family: 'Droid Serif';
  font-style: bold;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidserif/v3/QQt14e8dY39u-eYBZmppwTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(http://themes.googleusercontent.com/static/fonts/droidserif/v3/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: bold;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url(http://themes.googleusercontent.com/static/fonts/droidsansmono/v4/ns-m2xQYezAtqh7ai59hJUYuTAAIFFn5GTWtryCmBQ4.woff) format('woff');
}

h1, h2, h3, h4, h5, h6, p, body, textarea, input, select {
  font-family: $base-font-family;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  margin: $base-font-size 0 $base-font-size;
  color: $heading-color;
  &.splash {
    font-weight: bold;
    text-shadow: 2px 2px 3px $prime-lightest;
  }
  a {
    @extend .no-anchor;
    color: $heading-color;
    &:hover {
      color: $accent-dark;
    }
  }
}

body {
  // conditional style sheet for IE
  // font-size:100%;
  @extend .no-space;
  border: none;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-color;
}
.wrapper {
  width: $min-screen-width;
  margin: 0 auto;
  @include clearfix;
  @if $navbar-pos == fixed {
    margin-top: $navbar-height * $golden;
  }
}
h1, h2 {
  line-height: 2 * $base-line-height;
}
h4, h5, h6, p {
  line-height: $base-line-height;
}

h1 {
  font-size: $h1-size;
  &.splash {
    font-size: $h1-size * 1.5;
    line-height: 1.1em;
    margin: 0.5em 0;
  }
}
h2 {
  font-size: $h2-size;
}
h3 {
  line-height: $base-line-height * $golden;
  font-size: $h3-size;
}
h4 {
  font-size: $h4-size;
}
h5 {
  font-size: $h5-size;
}
h6 {
  font-size: $h6-size;
  text-transform: uppercase;
  font-weight: bold;
  margin: 2px 0;
}
.header {
  color: mix($prime-lighter, $base-color, 20%);
}
p  {
  font-size: $base-font-size;
  margin: 0 0 $base-font-size;
}
a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}
.caps {
  text-transform: uppercase;
}
.hl {
  color: $accent-dark;
}
code, pre {
  font-family: $mono-font-family;
  padding: 1em 1em;
  background-color: $code-bg;
  color: $code-color;
  border: 1px solid darken($code-bg, 10%);
  margin-bottom: 1em;
}
code {
  padding: 4px 5px 1px;
  margin: 0 0.2em;
}

.text-left    { text-align: left;    }
.text-right   { text-align: right;   }
.text-center  { text-align: center;  }
.text-justify { text-align: justify; }
