// Utilities partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh
// 11.Feb.2013

// This partial has the utility classes which can be
// applied on any element, giving it some trivial styles

.clearfix {
  @include clearfix();
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}

.no-top { margin-top: 0     !important; }
.no-bot { margin-bottom: 0  !important; }
.no-margin { margin: 0      !important; }
.no-padding { padding: 0    !important; }
.no-space { /* use with care, !important declarative */
  @extend .no-margin;
  @extend .no-padding;
}

.no-anchor {
  @include no-anchor;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.static-pos {
  position: static !important;
}
.abs-pos {
  position: absolute !important;
}
.fix-pos {
  position: fixed !important;
}
.width-auto {
  width: auto !important;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
// styles for the descriptive icons
.icon-group {
  // for 16x16 icons
  margin: 0 0.5em;
}
.attr-group {
  cursor: help;
  @extend .icon-group;
}
.fade {
  opacity: 0.2;
}
