// Utilities partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh
// 11.Feb.2013

// This partial has the utility classes which can be
// applied on any element, giving it some trivial styles

.clearfix {
  @include clearfix();
}
.hide { display: none  !important; }
.show { display: block !important; }

.no-top { margin-top: 0     !important; }
.no-bot { margin-bottom: 0  !important; }
.no-margin { margin: 0      !important; }
.no-padding { padding: 0    !important; }
.no-space { /* use with care, !important declarative */
  @extend .no-margin;
  @extend .no-padding;
}
.no-anchor {
  @include no-anchor;
}

.auto-width  { width: auto  !important; }
.full-width  { width: 100%  !important; }
.full-height { height: 100% !important; }

.left     { float: left  !important; }
.right    { float: right !important; }
.no-float { float: none  !important; }

.static-pos { position: static   !important; }
.rel-pos    { position: relative !important; }
.abs-pos    { position: absolute !important; }
.fix-pos    { position: fixed    !important; }

.block    { display: block !important; }
.inline   { display: inline !important; }
.in-block { @include inline-block(); }

@for $i from 1 through 9 {
  .fade-#{$i} { opacity: 0.1*$i; }
}
