//
// variables partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh / Johny Jose
// 20.Jan.2013
//

//
// All the colours and sizes are stored here.
// If you are looking for a quick makeover,
// just change the values of variables here.
//

$golden:                1.618;
$min-screen-width:      1024px !default;

//
//  ===========================
//  COLOURS
//  ===========================
//

// Grays
$black:                 #000 !default;
$gray-darkest:          #222 !default;
$gray-darker:           #333 !default;
$gray-dark:             #555 !default;
$gray:                  #777 !default;
$gray-light:            #999 !default;
$gray-lighter:          #bbb !default;
$gray-lightest:         #ddd !default;
$gray-ultralight:       #eee !default;
$white:                 #fff !default;

// Accents
$green:                 #95d905 !default;
$blue:                  #1b5ddf !default;
$sky:                   #259dff !default;
$navy:                  #023c7c !default;
$purple:                #8100ad !default;
$red:                   #e20000 !default;
$orange:                #e85e07 !default;
$gold:                  #da9100 !default;
$yellow:                #ffcc00 !default;


// Primaries
// TODOKHS: normalize the colours
$prime:                 desaturate($green, $golden * 10) !default;
$accent:                $sky !default;
$alert:                 $red !default;


$prime-darkest:         mix($black, $prime, 100% / $golden);
$prime-darker:          mix($black, $prime, 30%);
$prime-dark:            mix($black, $prime, 10%);
$prime-light:           mix($white, $prime, 100% / ( $golden * $golden * $golden) );
$prime-lighter:         mix($white, $prime, 70%);
$prime-lightest:        mix($white, $prime, 85%);

$accent-darkest:        darken($accent, 50%);
$accent-darker:         darken($accent, 30%);
$accent-dark:           darken($accent, 10%);
$accent-light:          lighten($accent, 10%);
$accent-lighter:        lighten($accent, 25%);
$accent-lightest:       lighten($accent, 40%);

$error-bg:              lighten($alert,50%);
$error-color:           $alert;
$error-border:          $alert;


//
//  ===========================
//  TYPOGRAPHY
//  ===========================
//
$base:                13px !default;
$base-line-height:    21px !default;
$base-color:          $gray-dark !default;
$base-font-family:    'Droid Sans', 'sans-serif' !default;
$mono-font-family:    'Droid Sans Mono', 'Consolas', 'Lucida Console', 'Ubuntu Mono', monospace !default;
$heading-font-family: 'Droid Sans', 'sans-serif' !default;
$base-font-weight:    400 !default;
$heading-font-weight: 400 !default;

$icon-font-path:   'fonts' !default;

$h6-size: 1.08em    !default;
$h5-size: 1.15em    !default;
$h4-size: 1.62em    !default;
$h3-size: 2.08em    !default;
$h2-size: 2.62em    !default;
$h1-size: 3.38em    !default;

// Text colours
$link-color:              $prime-dark  !default;
$link-hover-color:        $accent-dark !default;

$code-bg:                 lighten($gray-ultralight,5%) !default;
$code-color:              $accent !default;

//
//  ===========================
//  GENERAL PAGE LAYOUT
//  ===========================
//
$navbar-height:         40px !default;
$navbar-icon-height:    16px !default;
$navbar-color:          $white !default;
$navbar-hover-color:    $white !default;
$navbar-bg:             $prime !default;
$navbar-hover-bg:       $prime-dark !default;
$navbar-border:         $prime-dark !default;

$page-paddingV:         40px !default;

// keep in mind, footer has a border-box sizing
$footer-height:         50px !default;
$footer-paddingV:       13px !default;
$footer-border:         $prime-dark !default;
$footer-bg:             $white !default;


//
//  ===========================
//  PAGE NAVIGATORS & MENUS
//  ===========================
//

$side-position:             fixed;
$side-width:                200px;
$side-height:               auto;
$side-padding:              2em;
$side-border:               $gray-lightest;
$side-bg:                   $white;
$side-font-size:            $base;

// MAIN-MENU
$side-color:                $gray-darker;
$side-trim:                 $gray-lightest;
$side-hover-color:          $prime;
$side-hover-trim:           $prime;
$side-active-color:         $prime-dark;
$side-active-trim:          $prime-dark;

// SUB-MENU
$side-sub-color:            $gray-lightest;
$side-sub-trim:             $gray-lightest;
$side-sub-hover-color:      $accent;
$side-sub-hover-trim:       $accent-light;
$side-sub-active-color:     $accent;
$side-sub-active-trim:      $accent;

// UNINAV RULES
$tabbar-font-size:          1;
$tabbar-height:             25px;
$tabbar-bg:                 $side-bg;
$tabbar-color:              $side-color;
$tabbar-trim:               $side-trim;
$tabbar-hover-color:        $side-hover-color;
$tabbar-active-color:       $side-active-color;



//
//  ===========================
//  TABLES
//  ===========================
//

$table-head-bg:             $white !default;
$table-head-color:          $gray-light !default;
$table-head-font-size:      14px !default;
$table-border:              $gray-lightest !default;
$table-body-bg:             $white !default;
$table-body-alt-bg:         $gray-ultralight !default;
$table-foot-bg:             $white !default;

// Z-Index order



//
//  ===========================
//  BUTTONS
//  ===========================
//

// COMMON
$button-padding:         20px !default;
$button-font-size:       14px !default;
$button-height:          31px !default;
$button-radius:          0px !default;

$button-inline-height:   26px !default;
$button-inline-padding:  8px !default;

$button-titan-font-size: 21px !default;
$button-titan-height:    54px !default;

$button-round-radius:    4em !default;


// COLOURS
$button-color:          $gray-dark !default;
$button-bg:             $gray-ultralight !default;
$button-border:         darken($gray-ultralight,10%) !default;
$button-hover-color:    $gray-darkest !default;
$button-hover-bg:       $gray-lightest !default;

$button-disabled-bg:    lighten($gray-ultralight, 5%) !default;
$button-disabled-color: $gray-lighter !default;

$button-prime-bg:       $prime !default;
$button-prime-color:    $white !default;

$button-alert-bg:       $alert !default;
$button-alert-color:    $white !default;

$button-accent-bg:      $accent !default;
$button-accent-color:   $white !default;



//
//  ===========================
//  TIDBITS
//  ===========================
//

// TAGS
$tag-bg:                  lighten(desaturate($accent-dark,30%),20%) !default;
$tag-color:               $white !default;

// INFOTAG
$infoTag-color:           $accent-dark !default;
$infoTag-color-hover:     $accent-darker !default;
$infoTag-alert-color:     darken($red,10%) !default;
$infoTag-inactive-color:  $gray-light !default;

$infoTag-bg:              $accent-lightest !default;
$infoTag-bg-hover:        $accent-lighter !default;
$infoTag-alert-bg:        lighten($red,35%) !default;
$infoTag-inactive-bg:     $gray-ultralight !default;

// HR / DIVIDER
$divider-light-color:     $gray-ultralight !default;
$divider-dark-color:      $gray-dark !default;
$divider-width:           1px !default;
$divider-fat-width:       5px !default;

// SNIPPET
$snippet-hover-color:     $white !default;
$snippet-hover-fill:      $prime !default;
$snippet-border:          1px dashed $prime-dark !default;


//
//  ===========================
//  MODALS
//  ===========================
//

// MODAL
$mask-color:          rgba(255,255,255,0.8) !default;

$modal-width:         500px !default;
$modal-wide-width:    800px !default;

$modal-shadow:        rgba(0,0,0,0.15) !default;
$modal-bg:            $white !default;
$modal-border:        $gray-lightest !default;
$modal-inner-border:  $gray-ultralight !default;

//
//  ===========================
//  TOOLTIP
//  ===========================
//
$tooltip-padding:     2px 10px !default;
$tooltip-bg:          $white !default;
$tooltip-color:       $gray !default;
$tooltip-border:      $gray-lightest !default;



//
//  ===========================
//  DROPDOWNS
//  ===========================
//
$dropdown-bg:           $white !default;
$dropdown-border:       $gray-ultralight !default;


//
//  ===========================
//  FORMS
//  ===========================
//
$formHorz-label-width:  135px   !default;

$input-height:          31px    !default;
$input-bg:              $white  !default;
$input-color:           $gray-dark    !default;
$input-border:          $gray-lighter !default;
$input-disabled-color:  $gray-light   !default;
$input-shadow:          rgba(0,0,0,0.1) !default;
$input-border-radius:   0px     !default;
$input-focus-border:    $prime !default;
$input-active-border:   $prime !default;

$legend-color:          $input-color !default;
$legend-border:         $gray-lightest !default;

// EXAMPLE BOX
$example-text: "example";
$example-bg:    $accent;
$example-color: $white;

// Z-INDICES
$tooltip-z:             9999 !default;
$navbar-z:              1000 !default;
$footer-z:              700  !default;
$modal-mask-z:          2000 !default;
$mask-z:                500  !default;
$dropdown-z:            400  !default;
