@import "variables";
@import "compass";
@import "mixins";
@import "utilities";

#sidebar {
  margin-top: $navbar-height;
}
.content {
  margin-top: 0;
}
.docs-page-header {
  padding: $navbar-height * ($golden - 1) 0;
  border-bottom: 2px solid $prime-lighter;
  font-weight: 100;
}
.docs-eg {
  position: relative;
}
.docs-eg-code {
  clear:left;
  position: relative;
  top: 100%;
}
.docs-section {
  padding: 3.5em 0;
  border-bottom: 2px dashed $gray-lightest;
  &.no-border {
    border-bottom: none;
  }
  &:last-child {
    border-bottom: none;
  }
}
.docs-article {
  padding-bottom: 1em;
  border-bottom: 1px dashed $gray-ultralight;
  &.no-border {
    border-bottom: none;
  }
  &:last-child {
    border-bottom: none;
  }
  .docs-h3 {
    padding-top: $navbar-height;
  }
}
.docs-h1 {
  padding-bottom: 0.3em;
}
.docs-h3 {
  padding-top: 10px;
}
.docs-h1, .docs-h3, .docs-h4 {
  a {
    @extend .no-anchor;
    @include button-interaction();
    color: $gray-darker;
    &:hover {
      color: mix($gray-darker, $accent, 60%);
    }
  }
}
.button.docs-multiline {
  height: auto;
  &.titan {
    line-height: 1em;
    padding-top:1em;
    padding-bottom: 1em;
  }
}
.docs-subtext {
  font-size: 11px;
  text-transform: uppercase;
  opacity: 0.8;
  margin-top: 10px;
}
.docs-splash-sep {
  padding: 10px 0;
}
