extends layout-base

block body

  .wrapper.grid-12
    nav#sidebar.fix-pos
      block sidebar
    .content.col-9.pfx-3
      block content

  script
    $('#sidebar>ul').sidewinder({open:"selected"})
