// Colors
.color-panel {
    display: block;
    .container {
        background-color: $white;
        padding: $baseFontSize * 2;
        border: $greenLightest 1px solid;
        div {
            float: left;
            @include box(100px,100px);
        }
    }
}
.background {
    background-color: $backgroundColor;
}
.darker {
    background-color: $greenDarker;
}
.dark {
    background-color: $greenDark;
}
.highlight {
    background-color: $greenHighlight;
}
.normal {
    background-color: $green;
}
.light {
    background-color: $greenLight;
}
.lighter {
    background-color: $greenLighter;
}
.lightest {
    background-color: $greenLightest;
}
.pl {
    background-color: $playlyfe;
}

.grayDarker {
    color: $grayDarker;
    border: $grayDarker 1px solid;
}
.grayDark {
    color: $grayDark;
    border: $grayDark 1px solid;
}
.gray {
    color: $gray;
    border: $gray 1px solid;
}
.grayLight {
    color: $grayLight;
    border: $grayLight 1px solid;
}
.grayLighter {
    color: $grayLighter;
    border: $grayLighter 1px solid;
}


