// Layout
.page, .app {
    margin: 0 auto;
    @include clearfix();
}

.page {
    width: 980px;
    background-color: $white;
    border: $greenLight 1px solid;
}
.app {
    width: auto;
}
article {
    @include clearfix();
}
hr {
    margin: $baseLineHeight 0;
    width: 100%;
    border: none;
    border-top: 1px solid $greenLighter;
}

// Width Classes
.row {
    display: block;
    float: left;
    width: 100%;
    margin: 0 -5px;
    @include clearfix();
}
@for $index from 1 through 12 {
    .s#{$index} {
        float: left;
        margin: 0 5px;
        width: 80px * $index - 10px !important;
    }
}
