#mask {
    display: none;
    z-index: $zIndexModalBackdrop;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $white;
    opacity: 0.70;
}
#modal {
    position: fixed;
    top: 15%;
    left: 50%;
    display: none;
    z-index: $zIndexModal;
    overflow: visible;
    padding: $baseLineHeight;
    background: $white;
    border: $playlyfe 2px solid;
    @include box-shadow(1px 2px 7px rgba(0,0,0,0.15));
    @include background-clip(padding-box);
    .close-button {
        @include button-interaction();
        position: absolute;
        font-size: 25px;
        top: 5px;
        right: 6px;
    }
}
.dialog {
    @include clearfix();
    padding-top: $baseLineHeight;
    span, div {
        float: left;
    }
    .actions {
        clear: both;
        padding-left: 0;
    }
    .button-group, .button {
            float: left;
    }
}
