// Panels & Lists
.panel {
    border: $grayLighter 1px solid;
    margin: 0 $baseLineHeight/2 $baseLineHeight;
    padding: 0;
    @include clearfix();
}
.panel {
    .title {
        display: block;
        width: 100%;
        @include box-sizing('border-box');
        h1, h2, h3, h4, h5, h6 {
            margin: 3px;
            color: $gray;
            text-shadow: 0 1px 0 rgba(255,255,255,.2);
            padding: $baseLineHeight/2 $baseLineHeight - 3;
            background: $greenLightest;
            font-weight: bold;
        }
    }
    .body {
        width: 100%;
        height: 100%;
        margin: 0;
        color: $gray;
        @include box-sizing('border-box');
        .content {
            margin: $baseLineHeight;
        }
    }
}
.panel.nav-panel {
    border: none;
    .title {
        display: block;
        border: $greenDarker 1px solid;
        border-bottom: $greenDarker 5px solid;
        h1, h2, h3, h4, h5, h6 {
            margin: 0px;
            color: $white;
            padding: $baseLineHeight/2 $baseLineHeight - 3;
            background: $greenDark;
            font-weight: bold;
        }
    }
    .body {
        border: $grayLighter 1px solid;
        border-top: none;
    }
}

