#tooltip {
    display: block;
    position: absolute;
    background: $white;
    padding: $baseFontSize/2;
    border: $grayLighter;
    z-index: $zIndexTooltip;
    &.error {
        .tip:before {
            border-bottom-color: adjust_hue($playlyfe,290);
        }
        margin-top: 5px;
        padding: 4px 10px 4px 10px;
        background-color: adjust_hue($playlyfe, 290);
        color: $white;
        @include text-shadow(0 1px 2px rgba(133, 28, 3, 0.8));
    }
    &.attribute-info {
        margin-top: 5px;
        .tip:before {
            border-bottom-color: #3468CF;
        }
        background-color: #3468CF;
        color: $white;
    }
    .wrapper {
        position: relative;
    }
    .tip:before {
        content: '';
        position: absolute;
        top: -14px;
        left: -3px;
        border-bottom:   10px solid $white;
        border-right: 7px solid transparent;
        border-left:  7px solid transparent;
    }
}
