// UTILITY RULES FOR PLAYLYFE
.hide {
    display:none    !important;
}
.hide-pane{
    display: none   !important;
}
.wrapper {
    position: relative;
}
.grid-wrapper {
    @include clearfix();
}

i.expand-icon {
    display:inline-block;
    font-style:normal;
    margin-left:10px;
    @include square(14px);
    background:$grayDark;
    &:after {
        content:"+";
        left:-50%;
        color:$white;
        font-weight:bold;
    }
}

