// Variables
// ---------


//// CORE VARS
// LAYOUT
$golden : 1.618;


////////////////////////////
// Colors                 //
////////////////////////////
$playlyfe:              #95D905 !default;

// Grays
// -------------------------
$black:             #000 !default;
$grayDarker:        #222;
$grayDark:          #333;
$gray:              #555;
$grayLight:         #999;
$grayLighter:       #ddd;
$grayLightest:      #eee;
$white:             #fff !default;

// Greens
$green:                 desaturate($playlyfe, $golden * 10);
$greenDarker:           mix($black, $green, 100% / $golden);
$greenDark:             #83B030;
$greenHighlight:        lighten($green, 100% / ( $golden * $golden * $golden));
$greenLight:            mix($white, $green, 100% / ( $golden * $golden * $golden) );
$greenLighter:          mix($white, $green, 70%);
$greenLightest:         mix($white, $green, 85%);

$greenGray:             #667755;

// Accent colors
// -------------------------
// Playlyfing the colours
$blue:                  #1b5ddf !default;
$blueDark:              #023c7c !default;
$green:                 #95d905 !default;
$red:                   #e20000 !default;
$yellow:                #ffcc00 !default;
$orange:                #d15a00 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;
$gold:                  #D19C10 !default;

$mastery-color:         #EF2124 !default;
$purpose-color:         #2AC5FF !default;
$autonomy-color:        #C5ED30 !default;
$game-color:            #FFC50D !default;


// Links
// -------------------------
$linkColor:             #83c100 !default;
$linkColorHover:        #1b5ddf !default;



// TYPOGRAPHY
$baseFontFamily: "Droid Sans", "sans serif";
$baseFontSize: 13px;
$baseLineHeight: 21px;


//// AUXILLARY VARS
// LAYOUT
$navbarHeight: 35px;
$emblemHeight: 28px;

$fileInputZ: 100;
$zIndexFixedNavbar: 3000;
$zIndexDropdown: 1200;
$zIndexCover: 1500;
$zIndexModal: 1000;
$zIndexModalBackdrop: 999;
$zIndexTooltip: 2000;


$baseWidth: 80px;
$purpose-color: $playlyfe;
$tree-panel-width: 300px;

// TYPOGRAPHY
$h6Size: $baseFontSize;
$h5Size: 16px;
$h4Size: 21px;
$h3Size: 27px;
$h2Size: 34px;
$h1Size: 44px;

// COLOURS

// Derivatives
$backgroundColor: $white;
$appBorderColor: $greenLight;

// NavBar
$navbarBackground:#86bd1a;
$navbarBorder:darken($navbarBackground,5%);
$navbarBackgroundHighlight:lighten($playlyfe,80%);
$navbarEmblemColor: $white;

$navbarText: $white;
$navbarLinkColor: $white;
$navbarLinkColorHover: $white;
$navbarLinkColorActive: lighten($navbarLinkColorHover,20%);

$navbarLinkBackgroundHover: darken($navbarBackground,10%);
$navbarLinkBackgroundActive: darken($navbarBackground,15%);
$navbarLinkBackgroundHighlight: darken($navbarBackground,20%);
$navbarSearchPlaceholderColor: lighten($navbarBackground,10%);
$navbarSearchBorder: darken($navbarBackground,10%);
$navbarSearchBackgroundFocus: lighten($navbarBackground,40%);
$dropdownBorder: $navbarBorder;
$dropdownBackground: $white;


// Text
$headingsColor: $greenDark;
$textColor: $gray;

// Forms
$btnBorder: #CCC;
$btnBorderRadius: 0px;
$btnBackground: $grayLighter;
$btnBackgroundHighlight: $grayLightest;
$inputBorderRadius: $btnBorderRadius;
