@import "variables";

#player-sandbox {
    margin-top: $baseLineHeight;
    float: left;
    width: 100%;
}
#your-games, #your-apps {
    margin-top: $baseLineHeight/2;
    width: 100%;    
}
.games-list{
    h4 {
        color: $gray;
    }
    tr {
        cursor: pointer;
    }
    tr:hover h4 {
        color: $green;
    }
}
#games-list-empty, #playlist-empty {
    height: 300px;
}
.tabula-rasa {
    display: table;
    height: 100%;
    width: 100%;
    blockquote {
        font-family: 'Droid serif', 'serif';
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    }
    .content {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }
    .button {
        float: none;
    }
}

