@import "compass/css3";
@import "variables";
@import "mixins";
@import "utility";

$pane-border: $playlyfe;

ul.sans-style {
    list-style:none;
    margin:0; padding:0;
    &>li {
        position:relative;
        margin:0; padding:0;
    }
}
ul.inline {
    font-size:0;
    &>li {
        @include inline-block();
        font-size:$baseFontSize;
    }
}


ul.flat {
    & > li {
        margin:5px;
        cursor:pointer;
        & > a {
            display:block;
            text-decoration:none;
            color:$grayDarker;
            &:hover {
                color:$green;
                & > div.icon {
                    background-color:mix($white,$green,10%);
                }
                & > div.title {
                    color:$green;
                }
            }
        }
        &>div.icon, &>a>div.icon {
            @include inline-block();
        }
        &>div.title, &>a>div.title {
            @include inline-block();
            text-overflow:ellipsis;
            overflow:hidden;
            white-space:nowrap;
        }
    }
}
ul.flat.large > li {
    padding:5px 10px;
    margin:5px;
    &:hover {
        background-color:mix($white,$playlyfe,80%);
    }
    &>div.icon, &>a>div.icon {
        @include square(32px);
        @include inline-block();
    }
    &>div.title, &>a>div.title {
        padding-left:10px;
    }
}

ul.grid {
    float:left;
    & > li {
        margin-right:5px;
        float:left;
        & > a {
            text-decoration:none;
            color:$grayDarker;
            & > div.grid-item-icon {
                @include square(32px);
                background-color:mix($white,$green,20%);
            }
            & > span.grid-item-name {
                width:32px;
                font-size:11px;
                line-height:11px;
                text-align:center;
                display:block;
                text-overflow:ellipsis;
                overflow:hidden;
                white-space:nowrap;
            }
            &:hover {
                color:$green;
                & > div.grid-item-icon {
                    background-color:mix($white,$green,10%);
                }
                & > span.grid-item-name {
                    color:$green;
                }
            }
        }
    }
}
ul.grid.large > li {
    margin-right:10px;
    & > a > div.icon {
        @include square(64px);
    }
    & > a > div.title {
        width:64px;
        font-size:13px;
        line-height:14px;
    }
}



#profile {
    position:relative;
    width:100%;
    margin-top:50px;
}

div.metric-block {
    float:right;
    overflow:hidden;
    h6 {
        color:$greenDarker;
    }
}


#hud {
    width: 100%;
    height: 120px;
    background-color:$white;
    display: block;
    padding:0 5px;
    #user-hud {
        float:left;
        #user-pic {
            float:left;
            @include square(100px);
            @include inline-block();
            background:$green;
            &> img {
                width:100px;
                height:100px;
            }
        }

        #user-grid {
            float:left;
            padding:0 5px;
            display:block;
            width:300px;
            h4#username {
                color:$green;
                margin:0; padding:0;
            }
            #tagline > p.tagline-text {
                color:$gray;
                font-size:12px;
                line-height:18px;
                text-transform:uppercase;
            }
            ul#feat-list > li {
                text-align:center;
                .icon {
                        background:url('icon/core-icons.png') -256px -480px; 
                        border:1px solid transparent; 
                        width:32px; height:32px;
                }
                .caption { display:none; color:$gray; }
                &:hover {
                    .icon { border-color:$green; }
                }
            }
        }
    }
}

div#game-hud {
    display:block;
    float:right;
    text-align:right;
    #game-summary {
        position:relative;
        display:block;
        float:right;
        text-align:right;
        #game-icon {
            @include square(64px);
            float:right;
            &>i {
                @include square(64px);
            }
        }
        h4 {
            position:absolute;
            width:200px;
            right:65px;
            top:0px;
            margin:0;
            color:$greenDark;
        }
    }
    #game-metrics {
        margin-top:20px;
        float:right;
        display:block;
        text-align:right;
    }
    #game-metrics .metric-block {
        ul#attribute-list {

            $total-height:20px;
            $bar-width:200px;
            $bar-height:4px;
            $name-height:$total-height - $bar-height;
            $spacing:5px;

            li.attribute-item {
                height:$total-height;
                margin:2px 0;
                /*i.attr-icon {
                    @include square(16px);
                    padding:2px 2px;
                    background-color:$playlyfe;
                    float:right;
                }*/
                span.attr-bar {
                    @include box-shadow(0 0 2px 2px rgba(0,0,0,0.2) inset);
                    float:right;
                    position:relative;
                    margin:$name-height 5px 0;
                    height:$bar-height;
                    width:$bar-width;
                    background-color:$playlyfe;
                    span.attr-name {
                        position:absolute;
                        top:-$name-height; right:5px;
                        text-align:right;
                        width:$bar-width - 50px;
                        z-index:200;
                        font-size:10px;
                        line-height:$name-height;
                        color:$grayDark;
                        text-transform:uppercase;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }    
                    span.attr-meter {
                        width:0px;
                        height:$bar-height;
                        position:absolute;
                        top:0; right:0px;
                        z-index:100;
                        background-color:$greenDarker;
                    }
                    span.attr-level {
                        position:absolute;
                        display:block;
                        top:-$name-height; left:0;
                        z-index:200;
                        color:$grayLight;
                        font-style:italic;
                        font-weight:bold;
                        font-size:11px;
                        line-height:$name-height;
                        text-transform:uppercase;
                    }
                }
            }
        }
    }

}

div#oracle {
    position:relative;
    display:block;
    width:100%;
    border-top: 1px solid $pane-border;

    nav#crystal-nav {
        height:26px;
//        background-color:$greenLighter;
//        border-bottom:1px solid $playlyfe;
    }
    div#crystal-pane {
        min-height:200px;
        padding:5px;
    }


    #quest-list > li {
        margin:5px 0;
        padding:4px;
        border:1px solid $grayLighter;
        @include border-radius(2px);
        & > .icon {
            @include square(32px);
            @include inline-block();
            background:url('icon/core-icons.png') -288px -224px;
        }
        & > .title {
            padding-left:10px;
            h4 { color:$gray; margin:5px 0;  }
            .summary { 
                color:$grayLight; font-size:11px; line-height:11px;
            }
        }
        & > .options { 
            display:none;
            position:absolute;
            right:5px; top:8px;
        }

        &:hover, &.active:hover {
            background-color:$greenLightest;
            border-color:$greenLight;
            & > .icon { background-position:-256px -224px; }
            & > .title h4 { color:$green; text-shadow:0 0 1px $playlyfe; }
            & > .title .summary { color: $green; }
            & > .options { display:block; }
            & > .quest-details { border:1px solid $green; @include box-shadow(0 0 2px 0 $greenLight inset); }
        }
        &.active {
            border-color:$green;
            & > .icon { background-position:-480px -192px; }
            & > .title h4 { color:$grayDarker; }
            & > .title .summary { color:$grayDark; }
            &:hover {
                background-color:$greenLighter;
            }
        }
    }
    .quest-details {
        display:none;
        background-color:$white;
        border:1px solid transparent;
        @include border-radius(2px);
        margin:10px 0;
        padding:10px 15px;
        border-top:1px solid $grayLighter;
        .meta {
            color:$grayLight;
            .data { font-size:11px;
                .value { color:$grayDark; }
            }
        }
    }
    ul.objectives {
        margin:5px 0 20px;
        li {
            & > .icon {
                @include square(20px);
                @include inline-block();
                background:url('icon/core-icons.png') -328px -484px;
            }
            & > .title {
                padding-left:10px;
                h5 { color:$gray; margin:2px 0; }
                .summary {
                    color:$grayLight; font-size:11px; line-height:11px;
                }
            }
        }
    }


/*
 * The path styling is useful, so i'm keeping it here, 
 * just so that when the need arises, it is easily available
 * For now, reverting to the normal list view
 *
    ul.objective-path {
        margin-bottom:25px;
        li.objective-milestone {
            background: url('images/quest-trail.png') repeat-x;
            height:41px;
            z-index:500;
            &>.name {
                display:none;
            }
        }
    }
    ul.task-path {
        margin:10px 0;
        li.task-point {
            position:relative;
            z-index:550;
            & > .icon {
                @include square(20px);
                background-color:$grayLight;
                font-size:0; line-height:0;
                border:1px solid $gray;
                @include border-radius(10px);
            }
            & > .infobox {
                display:none;
                position:absolute;
                top:20px;
                background:$white;
                @include box-shadow(0 0 3px 0 $greenLight);
                min-width:100px;
                border:1px solid $playlyfe;
                padding:10px 15px;
                h4 { margin:0; color:$gray; }
                .description { font-size:11px; line-height:15px; color:$grayLight; }
                .points {
                    color:$grayLight;
                    ul.point-system {
                        font-size:11px; line-height:13px;
                        & > li {
                            .attr-name { float:left; color:$blue; width:70px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap }
                            .attr-points { margin-left:10px; float:left; color:$greenDark; font-weight:bold; }
                        }
                        & > li.goal {
                            .attr-name { color:$red; }
                        }
                    }
                }
                & > a.button { margin-top:10px; }
            }
            &.active {
                & > .icon {
                    border-color:$green;
                    background-color:$playlyfe;
                    @include box-shadow(0 0 5px 2px $playlyfe);
                }
                & > .infobox {
                    display:block;
                }
            }
        }
    }*/
}





div#kickstarter-container {
    display:table;
    height:100%;
    margin:0 auto;
    padding:10% 0;
    text-align:center;
    div#kickstarter {
        display:table-cell;
        vertical-align:center;
        div.greeter {
            p.subtitle {
                color:darken($green,10%);
            }
        }
        div.kickstart-option-wrapper {
            text-align:center;
            ul#kickstart-options {
                @include inline-block();
                &>li {
                    display:block;
                    cursor:pointer;
                    color:$green;
                    position:relative;
                    &>a {
                        text-decoration:none;
                        text-transform:uppercase;
                        color:$green;
                        padding:5px 10px;
                        line-height:11px;
                        font-size:11px;
                        &>i {
                            @include square(64px);
                        }
                        span.prime-action {
                            display:block;
                            text-transform:lowercase;
                            font-size:18px;
                            line-height:18px;
                        }
                        &:hover {
                            background-color:#A9D44D;
                            padding:4px 9px;
                            border:1px solid $green;
                            color:$white;
                        }
                    }
                }
            }
        }
        ul#kickstart-games-list {
            display:block;
            position:absolute;
            left:0;
            &>li {
                display:block;
                cursor:pointer;
                color:$green;
                position:relative;
                text-align:center;
                &>a {
                    text-decoration:none;
                    color:$green;
                    padding:5px 10px;
                    line-height:12px;
                    font-size:13px;
                    &>i {
                        @include square(64px);
                    }
                    &>span {
                        display:block;
                    }
                    &:hover {
                        background-color:#A9D44D;
                        padding:4px 9px;
                        border:1px solid $green;
                        color:$white;
                    }
                }
            }
        }
    }
}



// extra rules, move them to another place
#tooltip {
    position:relative;
    display:block;
    background:#fff;
    border:1px solid;
    border-color:$playlyfe $playlyfe darken($playlyfe,10%) darken($playlyfe,15%);
}
#tooltip:after {
    position:absolute;
    left:50%; bottom:0px;
    display:block;
    width:0; height:0;
    border:10px solid;
    border-color:transparent;
    border-top-color:$playlyfe;
}
