.iconic{ background:url("iconic-core.png") top left no-repeat; }

.path-seq-16w{ width:16px; height:16px; background-position:0 0; }
.path-seq-16w-hover{ width:16px; height:16px; background-position:-16px 0; }
.path-parallel-16w{ width:16px; height:16px; background-position:0 -16px; }
.path-parallel-16w-hover{ width:16px; height:16px; background-position:-16px -16px; }
.path-alt-16w{ width:16px; height:16px; background-position:0 -32px; }
.path-alt-16w-hover{ width:16px; height:16px; background-position:-16px -32px; }
.flow-16w{ width:16px; height:16px; background-position:0 -48px; }
.flow-16w-hover{ width:16px; height:16px; background-position:-16px -48px; }
.loops-16w{ width:16px; height:16px; background-position:0 -64px; }
.loops-16w-hover{ width:16px; height:16px; background-position:-16px -64px; }
.max-attempts-16w{ width:16px; height:16px; background-position:0 -80px; }
.max-attempts-16w-hover{ width:16px; height:16px; background-position:-16px -80px; }
.approval-16w{ width:16px; height:16px; background-position:0 -96px; }
.approval-16w-hover{ width:16px; height:16px; background-position:-16px -96px; }
.control-exit-16w{ width:16px; height:16px; background-position:0 -112px; }
.control-exit-16w-hover{ width:16px; height:16px; background-position:-16px -112px; }
.control-entry-16w{ width:16px; height:16px; background-position:0 -128px; }
.control-entry-16w-hover{ width:16px; height:16px; background-position:-16px -128px; }
.path-16w{ width:16px; height:16px; background-position:0 -144px; }
.path-16w-hover{ width:16px; height:16px; background-position:-16px -144px; }
.action-16w{ width:16px; height:16px; background-position:0 -160px; }
.action-16w-hover{ width:16px; height:16px; background-position:-16px -160px; }
.edit-16k{ width:16px; height:16px; background-position:0 -176px; }
.edit-16k-hover{ width:16px; height:16px; background-position:-16px -176px; }
.delete-16k{ width:16px; height:16px; background-position:0 -192px; }
.delete-16k-hover{ width:16px; height:16px; background-position:-16px -192px; }
.add-16k{ width:16px; height:16px; background-position:0 -208px; }
.add-16k-hover{ width:16px; height:16px; background-position:-16px -208px; }
.close-16k{ width:16px; height:16px; background-position:0 -224px; }
.close-16k-hover{ width:16px; height:16px; background-position:-16px -224px; }
.add-16w{ width:16px; height:16px; background-position:0 -240px; }
.add-16w-hover{ width:16px; height:16px; background-position:-16px -240px; }
.close-16w{ width:16px; height:16px; background-position:0 -256px; }
.close-16w-hover{ width:16px; height:16px; background-position:-16px -256px; }
.delete-16w{ width:16px; height:16px; background-position:0 -272px; }
.delete-16w-hover{ width:16px; height:16px; background-position:-16px -272px; }
.edit-16w{ width:16px; height:16px; background-position:0 -288px; }
.edit-16w-hover{ width:16px; height:16px; background-position:-16px -288px; }
.settings-16k{ width:16px; height:16px; background-position:0 -304px; }
.settings-16k-hover{ width:16px; height:16px; background-position:-16px -304px; }
.castle-16k{ width:16px; height:16px; background-position:0 -320px; }
.castle-16k-hover{ width:16px; height:16px; background-position:-16px -320px; }
.settings-16w{ width:16px; height:16px; background-position:0 -336px; }
.settings-16w-hover{ width:16px; height:16px; background-position:-16px -336px; }
.castle-16w{ width:16px; height:16px; background-position:0 -352px; }
.castle-16w-hover{ width:16px; height:16px; background-position:-16px -352px; }
.loops-16k{ width:16px; height:16px; background-position:0 -368px; }
.loops-16k-hover{ width:16px; height:16px; background-position:-16px -368px; }
.flow-16k{ width:16px; height:16px; background-position:0 -384px; }
.flow-16k-hover{ width:16px; height:16px; background-position:-16px -384px; }
.path-alt-16k{ width:16px; height:16px; background-position:0 -400px; }
.path-alt-16k-hover{ width:16px; height:16px; background-position:-16px -400px; }
.path-parallel-16k{ width:16px; height:16px; background-position:0 -416px; }
.path-parallel-16k-hover{ width:16px; height:16px; background-position:-16px -416px; }
.path-seq-16k{ width:16px; height:16px; background-position:0 -432px; }
.path-seq-16k-hover{ width:16px; height:16px; background-position:-16px -432px; }
.max-attempts-16k{ width:16px; height:16px; background-position:0 -448px; }
.max-attempts-16k-hover{ width:16px; height:16px; background-position:-16px -448px; }
.approval-16k{ width:16px; height:16px; background-position:0 -464px; }
.approval-16k-hover{ width:16px; height:16px; background-position:-16px -464px; }
.control-exit-16k{ width:16px; height:16px; background-position:0 -480px; }
.control-exit-16k-hover{ width:16px; height:16px; background-position:-16px -480px; }
.control-entry-16k{ width:16px; height:16px; background-position:0 -496px; }
.control-entry-16k-hover{ width:16px; height:16px; background-position:-16px -496px; }
.path-16k{ width:16px; height:16px; background-position:0 -512px; }
.path-16k-hover{ width:16px; height:16px; background-position:-16px -512px; }
.action-16k{ width:16px; height:16px; background-position:0 -528px; }
.action-16k-hover{ width:16px; height:16px; background-position:-16px -528px; }
