@import "compass";
@import "aegis/constants";
@import "aegis/mixins";
@import "aegis/navigation";
@import "aegis/modal";
@import "aegis/sidebar";
@import "aegis/typography";

// A neu beginning to the sandbox project for playlyfe
#content.container {
  margin-top:0;
}

#workspace {
  margin-left:261px;
  // fix for the page shifting down due to
  // accidental top-margins on top-most elements
  padding:1px 0;
  &.controls {
    #workbench {
      margin-top:147px;
    }
    #sticky {
      height:147px;
    }
  }
}

#workbench {
  padding-left:25px;
  margin-top: 105px;
}

section#sticky {
  padding:21px 0 21px 25px;
  height:105px;
  width:699px;
  position: fixed;
  top:0;
  background-color: $white;
  @include box-sizing('border-box');
  h2 {
    margin:0;
    text-transform: capitalize;
  }
  span.sub {
    font-size:12px;
    text-transform: lowercase;
  }
  &.stuck {
    border-bottom: 1px solid $gray-lightest;
    @include box-shadow($gray 0px 5px 10px -10px);
    @include transition(box-shadow, 0.6s, ease, 0.3s);
    @include transition(border-bottom, 0.6s, ease, 0.3s);
  }
}

#navigator {
  width: 300px;
  margin-left:660px;
  li {
    @include inline-block();
  }
}

nav#sidewinder {
  width: 260px;
  img {
    width: 160px;
    height: 160px;
    margin:10px 50px 0;
    &+div {
      font-size: 16px;
      text-align: center;
      margin-bottom:20px;
      color: $sidebar-text-color-hl;
    }
  }
  ul.toplevel {
    a       { @include transition(background, 0.6s, ease, 0.3s); }
    a:hover { @include transition(background, 0.3s, ease, 0.1s); }
    .sub-menu {
      .arrow { top:-20px; left:240px; @include transition(transform, 1.0s, ease, 0.1s); }
      &.unwound .arrow { @include transition(transform, 1.0s, ease, 0.1s); }
    }
  }
}

table {
  width: 100%;
  &.expand {
    width: 670px;
  }
  border-collapse: collapse;
  border-spacing: 0;
  thead {
    background-color: $table-head-bg;
    th {
      color: $table-head-text-color;
      text-align: left;
      font-size: 16px;
      padding: 5px 10px;
    }
  }
  tbody {
    tr { border-bottom: $gray-lighter 1px solid;
      &:hover { cursor:pointer; color: $white; background-color: $green-dark; }
    }
    td { padding: 10px; }
  }
  tfoot {
    background-color: $table-foot-bg;
    td { text-align: center; padding: 15px 0;}
  }
  &.sparse {
    td, th { padding: $base-line-height / ($golden); }
  }
}

.pagination-wrapper {
  margin: 0 auto;
  li {
    @include inline-block();
    @include button-interaction();
    a {
      @include transition(background-color, 0.6s, ease, 0.3s);
      color: $gray-dark;
      padding: 5px 15px;
      &.current {
        background-color: $yellow;
        border: 1px solid $gold;
        &:hover {
          border-color: $green-darker;
        }
      }
      &:hover {
        @include transition(background-color, 0.3s, ease, 0.1s);
        background-color: $green-dark;
        color: $white;
      }
    }
  }
}
