@import "compass";
@import "aegis/constants";
@import "aegis/mixins";
@import "aegis/utilities";
@import "aegis/navigation";
@import "aegis/modal";
@import "aegis/sidebar";
@import "aegis/typography";
@import "aegis/forms";
@import "aegis/tabs";
@import "aegis/lists";
@import "aegis/buttons";
@import "aegis/tables";


// TODOKHS : MEDIA QUERIES

// A neu beginning to the sandbox project for playlyfe

body {
  @extend .no-space;
  border: 0;
}
#main-layout {
  margin-top: 40px;
}

.container-fluid {
  width: 100%;
  min-width: $min-screen-width;
  margin: 0 auto;
}
.wrapper {
  @extend .container-fluid;
  @include box-sizing('border-box');
  padding: 2em 2% 0;
}
.shrink-wrapper {
  @extend .wrapper;
  width: $min-screen-width;
  padding-top:10em;
}

/*
 * Essential page items
 */
#navigator {
  @include no-select();
  width: 100%;
  .tier {
    padding-top: 0;
  }
}


/*
 * Profile CSS
 */
#uni-wrap {
  width:100%;
}
#user-hud {
  min-width: 640px;
  position: relative;
}
#user-info { }
#avatar {
  width:140px;
  height:140px;
  margin:10px;
  background-color: mix($gray,$sky,50%);
  img {
    width:140px;
    height:140px;
  }
}
#user-name {
  position: absolute;
  top:0; left:11em;
  margin-left: 2em;
  h2 {
    color:$green-dark;
    margin: 0;
  }
}
#user-faves {
  position: absolute;
  left:11em; top:4em;
  margin:0 2em;
  .info-head {
    color:$gray-light;
    text-transform: uppercase;
    margin: 0.3em 0;
  }
  .info-body {
    float: left;
    display: block;
    width: 35px;
    height: 35px;
    margin:0 5px 2px 0;
    background: $gray-dark;
  }
}

#unispace {
  min-width: 640px;
  margin-top:4em;
  border-top:1px solid $gray-lightest;
}
#uninav {
  position: relative;
  top: -23px;
  @include clearfix();
  background-color: $white;
  z-index: $uninav-z;
  &.stuck {
    position: fixed;
    top: 41px;
    width:96%;
  }
  .uninav-item {
    display: block;
    text-align: center;
    float:left;
    a {
      width:160px;
      @extend .no-anchor;
      color: $uninav-color;
      margin-bottom: 3px;
      border-bottom: 2px solid $uninav-border;
      @include transition(color 0.2s ease 0.1s, border-color 0.3s ease 0.1s);
      &:hover {
        color: $uninav-color-hl;
        border-bottom-color: $uninav-color-hl;
        border-bottom-width: 3px;
        margin-bottom: 2px;
      }
    }
    &.live {
      a {
        color: $uninav-color-select;
        font-weight: bold;
        margin-bottom: 0;
        border-bottom: 5px solid $uninav-color-select;
        @include transition(border-width 0.3s ease 0.1s);
      }
      a:hover {
        color: $uninav-color-select-hl;
        border-bottom-color: $uninav-color-select-hl;
      }
    }
  }
}

#uniview {
  position: relative;
  z-index: $uniview-z;
  overflow: hidden;
  .centered {
    text-align: center;
  }
}
.centered {
  margin: 5em auto;
  .callout {
    color: $gray-light;
  }
}

.uniview-list-detailed {
  @extend .no-list;
  @extend .no-space;
  .uniview-item {
    float:none;
    display: block;
    border:1px solid $gray-lightest;
    padding: 0.4em 0.8em;
    margin-bottom: 0.5em;
  }
}

.feed-item {
  .feed-title {
    font-size: 1.38em;
    line-height: 1em;
    margin-top: 0.5em;
    color: $green;
  }
  .feed-summary {
    color: $gray;
    text-align: justify;
    padding: 0 0.61em 1em;
  }
  .feed-link {
  }
}

.uniview-list {
  @extend .no-list;
  @extend .no-space;
  @include clearfix();
  .uniview-item {
    float: left;
    display: block;
    width: 140px;
    margin:10px;
  }
  .app-wrap {
    position: relative;
    width: 140px;
    &:hover {
      .overlay-button { visibility: visible; }
      .app-name { color: $green-dark; }
      .app-rating-context { color: $sky; }
    }
  }
  .app-icon {
    width:140px;
    height:140px;
    background-color: $gray-lightest;
  }
  .new-app {
    background-color: $gray-lightest;
    border: 1px dashed $gray;
  }
  .new-app-overlay {
    width: 100%;
    top: 20%;
    position: absolute;
    text-align: center;
    line-height: 1.62em;
    font-size: 11px;
  }
  .overlay-button {
    visibility: hidden;
    position: absolute;
    text-align: center;
    line-height: 1.62em;
    height: 1.62em;
    width: 70px;
    cursor: pointer;
    @include transition(background 0.4s ease 0.1s);
    i.iconic-16 { margin-right: 10px; }
    &.app-play {
      top: 119px;
      left: 0px;
      background-color: $green;
      &:hover { background-color: $green-dark; }
    }
    &.app-edit {
      top: 119px;
      left: 0px;
      background-color: $sky;
      &:hover { background-color: darken($sky,10%); }
    }
    &.app-info {
      top: 119px;
      left: 71px;
      background-color: $sky;
      &:hover { background-color: darken($sky,10%); }
    }
    &.app-remove {
      background-color: darken($red,10%);
      top: 0; right: 0;
      width: auto; height: auto;
      padding: 5px;
      &:hover { background-color: darken($red, 20%); }
    }
    &.disabled {
      background-color: $gray-lighter;
      a { cursor: default; }
      &:hover { background-color: mix($red,$gray-lighter,20%); }
    }
    a {
      @extend .no-anchor;
      display: block;
      color: $white;
    }
  }
  .app-name {
    line-height: 1.62em;
    font-size: 1.23em;
    @include transition(color 0.2s ease 0.1s);
  }
  .app-desc {
    display: none;
  }
  .app-rating {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .app-rating-meter {
      @include clearfix();
      div:first-child { margin-left:0;}
      .a-r-m {
        float:left;
        display: block;
        width: 18%;
        height: 0.5em;
        margin-left:2%;
        background-color: $gray-lighter;
      }
      &[data-rating='1'] .on { background-color: desaturate($red,30%); }
      &[data-rating='2'] .on { background-color: mix($yellow,$red,70%); }
      &[data-rating='3'] .on { background-color: mix($yellow,$green,30%); }
      &[data-rating='4'] .on { background-color: mix($yellow,$green,70%); }
      &[data-rating='5'] .on { background-color: desaturate($green,20%); }
    }
    .app-rating-context {
      font-style: italic;
      font-size: 0.92em;
      line-height: 1.15em;
      color: $gray-light;
      @include transition(color 0.2s ease 0.1s);
    }
  }
}


/*
 * End Profile CSS
 */



/*
 * Game Builder CSS
 */

#sidewinder {
  padding: 0 13px;
  width: 200px;
  top: auto;
  .metawinder {
    padding-bottom : 1em;
    border-bottom: 1px solid $gray-lightest;
    margin-bottom: 1em;
    img {
      width: 60%;
      margin:#{20px/$base}em 20% 0;
    }
    #crux {
      font-size: #{16px/$base}em;
      text-align: center;
      margin-bottom:0.12%;
      color: $side-color;
    }
  }
}

$workspace-padding: 263px;
#workspace {
  width: 100%;
  padding: 1px 21px 1px $workspace-padding;
  min-width: #{$min-screen-width - $workspace-padding};
  @include box-sizing('border-box');
  // fix for the page shifting down due to
  // accidental top-margins on top-most elements
  &.controls {
    #workbench {
      margin-top:#{151px/$base}em;
    }
    #sticky {
      height: #{151px/$base}em;
    }
  }
}

#workbench {
  margin: #{150px/$base}em 0 0;
}

#sticky {
  width: 100%;
  min-width: #{$min-screen-width - $workspace-padding}; // width - paddingLeft;
  @include box-sizing('border-box');
  height:#{110px/$base}em;

  position: fixed;
  left: 0;
  margin-right: 0;
  padding:#{21px/$base}em 0 0 $workspace-padding;

  background-color: $white;
  @include box-sizing('border-box');
  z-index: $sticky-z;
  h2 {
    margin:0;
    text-transform: capitalize;
  }
  .sub {
    min-height: $base-line-height;
    font-size:#{12px/$base}em;
    text-transform: lowercase;
  }
  &.stuck {
    border-bottom: 1px solid $gray-lightest;
    @include box-shadow($gray 0px 5px 10px -10px);
    @include transition(box-shadow, 0.6s, ease, 0.3s);
    @include transition(border-bottom, 0.6s, ease, 0.3s);
  }
  #sticky-controls {
    position: relative;
    width:100%;
  }
}
.wide-form {
  width: #{$min-screen-width - $workspace-padding - 210px};
  .field-tip {
    max-width: 200px;
  }
}

.pagination-wrapper {
  position: absolute;
  right: 1%;
  @include inline-block();
  li {
    @include inline-block();
    @include button-interaction();
    a {
      @include transition(background-color, 0.6s, ease, 0.3s);
      color: $gray-dark;
      padding: #{5px/$base}em #{15px/$base}em;
      &.current {
        background-color: $yellow;
        border: 1px solid mix($gold,$yellow,40%);
        &:hover {
          border-color: $green-darker;
        }
      }
      &:hover {
        @include transition(background-color, 0.3s, ease, 0.1s);
        background-color: $green-dark;
        color: $white;
      }
    }
  }
}

table {
  &.expand {
    width: 100%;
    table-layout: fixed;
    min-width: 670px;
  }
  thead {
    background-color: $table-head-bg;
    th {
      color: $table-head-text-color;
      text-align: left;
      font-size: #{16px/$base}em;
      padding: #{5px/$base}em 0.25em;
      @include box-sizing('border-box');
      &.col-xs { width: 5%; }
      &.col-s { width: 10%; }
      &.col-m { width:20%; }
      &.col-l { width:30%; }
      &.col-xl { width:40%; }
      &.col-xxl { width:50%; }
      &.col-ops { width:65px; }
    }
  }
  td {
    padding: #{10px/$base}em 0.25em;
    vertical-align: top;
    border-bottom: $gray-lighter 1px solid;

    .info-tag {
      padding: 0.1em 0.25em;
      margin-right:1em;
      background-color: lighten($sky,35%);
      color: darken($sky,10%);
      border:1px solid lighten($sky,10%);
      cursor: pointer;
      &:hover {
        background-color: lighten($sky,20%);
        color: darken($sky,30%);
        @include transition(all 0.2s ease 0.1s);
      }
    }
    .ref {
      margin-left:-0.25em;
    }
  }

  td.ops {
    padding:6px 0;
  }
  .extra-info {
    font-style: italic;
    font-size: #{12px/$base}em;
    padding-left: #{8px/$base}em;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /*
   * constrain the width of long values
   * which can potentially destroy a layout
   */
  .constraint {
    max-width:90%;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
  }
  /* Styles for special content types */
  .warn { color: $red; }
  .nudge { color: $sky; }

  .no-list > li {
    padding-bottom: 0em;
  }
  tbody tr {
    .row-action {
      display: block;
      visibility: hidden;
      a { cursor: pointer; }
    }
    .action-item {
      @extend .icon-group;
    }
    &:hover {
      .ref {
        color: $sky;
        @include transition(color 0.3s ease 0.1s);
        &:hover {
          @extend .ref:hover;
        }
      }
      color: $green-dark;
      border-bottom: 1px solid $green;
      .row-action { visibility: visible; }
    }
  }
  tfoot {
    background-color: $table-foot-bg;
    td { text-align: center; padding: #{15px/$base} 0;}
  }
}

.publish-guide {
  $button-margin: 4em;
  $button-size: 8 * 1.5em;
  position: relative;
  margin: 5em 0 0 3em;
  width: (3*8*1.5) + 3*$button-margin;  // 3*(8*1.5) circles + 3*2 margin

  .publish-connector-horizontal {
    position: relative;
    top: $button-size/2 + 1;
    left: $button-size/2; width: ($button-size + $button-margin)*2;
    height: 16px;
    background-color: $gray-lightest;
    background-image: url('/images/publish-connector.png');
    z-index: 2;
  }
  .button.round {
    position: relative;
    z-index: 3;
    margin: 0 $button-margin 0 0;  // that is 3em of base
    &:last-child {
      margin-right: 0;
    }
  }
  .validate { background-color: lighten($yellow,20%); border-color: $yellow;
    &:hover { background-color: $yellow; }
  }
  .deploy { background-color: lighten($sky,20%); color: $white; border-color: $sky; }
}

.detail {
  /* align the attribute labels to right */
  & > tbody > tr > td:first-child { text-align: right; }
  tr:hover {
    border-bottom: none;
  }
  td {
    border: none;
    padding: 1em 1.5em;
    .no-list > li {
      padding-bottom: 1em;
    }
    .ref {
      margin-left:-0.61538em;   // fix for misaligned links
    }
    .json {
      padding: 0.5em 1em 0.5em 0.75em;
      background-color: #fafafa;
      border: 1px #DDD solid;
      margin: -0.5em 0 1em -1em;
    }
    .snippet, .button.inline {
      margin-top:-0.15em;
    }
  }
}
.inner-table {
  table-layout: fixed;
  width:100%;
  /* override the default table styles */
  tr:hover, td { border:none;}
  .info-tag { display: block; padding:1px 5px; }
  td { padding: 2px 0; }
  td.tag-holder { width:60px; }
}

.ref {
  @extend .no-anchor;
  cursor:pointer;
  padding:#{2px/$base}em #{8px/$base}em;
  color: $gray;
  &:hover {
    @include transition(color 0.3s ease 0.1s);
    background: $gray-lightest;
    color: $blue;
  }
}
// styles for the descriptive icons
.icon-group {
  margin: 0 0.5em;
}
.attr-group {
  cursor: help;
  @extend .icon-group;
}

/*
 * End Game Builder CSS
 */

// Sketch styles
.free-flow {
  .ring {
    stroke-width: 2;
    stroke-dasharray: 5,5;
    stroke: darken($red, 5%);
    fill: rgba(0,0,0,0);
  }
}
.link {
    stroke-width: 1;
    stroke: $green;
}

hr.dotted {
  border: 0;
  margin: 5px auto;
  height: 1px;
  border-bottom: 2px dotted $gray-lightest;
  &.big {
    margin: 20px auto;
    border-width: 5px;
  }
  &.notop { margin-top: 0; }
  &.nobot { margin-bottom: 0 }
  &.dark {
    border-color: $gray-dark;
  }
}

.modal {
  overflow: hidden;
  .heading { margin: 0; }
  .preheading { text-transform: uppercase; margin: 0; }
  .subheading { font-size: 0.92em; }
  .modal-head {
    padding: 1em 2em;
    border: 1px solid $green-dark;
    border-bottom: none;
    background-color: $green;
    * { color: $white; }
    .preheading { color: $gray-lightest; }
    .subheading { color: rgba($white, 0.8); }
  }

  .modal-foot {
    padding: 1em 2em;
    border: 1px solid $gray-lighter;
    border-top: none;
  }
  .modal-body {
    border: 1px solid $gray-lighter;
    border-bottom-color: $gray-lightest;
    border-top: none;
    padding: 1em 2em 0;
    background-color: $white;
    .modal-list {
      list-style-type: disc;
      margin: 1em 0;
      li { font-weight: bold; }
    }
    .preheading { color: $gray-lighter; }
    .subheading { color: $gray-lighter; }
  }

  /* Types of Modals: Info, Error, etc */
  &.footless {
    .modal-body {
      border-bottom-color: $gray-lighter;
    }
  }
  &.profiler {
    width: 700px;
    margin-left:-350px;
    top: 10%;
    .modal-body { height: 28.5em; }
    &.footless {
      .modal-body { height: 33em; }
    }
  }

  &.dragons { /* grave warning modal */
    .modal-head {
      border: 1px solid darken($red,5%);
      background-color: desaturate($red,20%);
    }
  }
  &.informer {
    .modal-head {
      border: 1px solid darken($sky,10%);
      background-color: desaturate($sky,20%);
    }
  }
}

#feedback {
  position: fixed;
  bottom: 0;
  right: 1%;
  background-color: $green;
  color: white;
  width: 100px;
  height: 31px;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  @include box-shadow(1px 2px 7px rgba(0,0,0,0.15));
  @include text-shadow(0 1px 0 rgba(136, 199, 23, 0.75));
  @include button-interaction();
  z-index: 175;
}

#loading {
  position: fixed;
  top:50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -45px;
  text-align: center;
}

.app-auth-dialog {
  .perms-list {
    @extend .no-space;
    margin: 0 0 1em 2em;
    li * { color: $sky; }
  }
  .app-card {
    margin-top: 1em;
    .app-image {
      width: 100px;
      height: 100px;
    }
    .app-name {
      margin-top: 0;
      font-size: 1.38em;
    }
  }
  .app-auth-form {
    margin-top: 2em;
  }
  .auth-tip {
    border: 1px solid $sky;
    background-color: lighten($sky,42%);
    padding: 0.5em 1em;
  }
}

