@import "compass";
@import "aegis/constants";
@import "aegis/mixins";
@import "aegis/navigation";
@import "aegis/modal";
@import "aegis/sidebar";
@import "aegis/typography";
@import "aegis/forms";
@import "aegis/buttons";


// TODOKHS : MEDIA QUERIES
// TODOKHS : SIDEBARS FOR LOWER RES MONITORS
// TODOKHS : AUTO-RECONFIGURING LAYOUT

// A neu beginning to the sandbox project for playlyfe
#content.container, #content.container-fluid {
  margin:0 auto;
}
body {
  @extend .no-space;
  border: 0;
}
.container-fluid {
  width:100%;
}

#navigator {
  @include no-select();
  li {
    @include inline-block();
    &>a {
      padding: 0 10px;
    }
    &>a[class^="iconic"] {
      padding: 0;
    }
  }
}

#sidewinder {
  width: 14.667%;
  margin: 0;
  top:0;
  left:0;
  z-index: $sidebar-z;
  float:none;
  @include no-select();
  img {
    width: 60%;
    margin:#{20px/$base}em 20% 0;
  }
  #game-name {
    font-size: #{16px/$base}em;
    text-align: center;
    margin-bottom:0.12%;
    color: $sidebar-text-color-hl;
  }
  #game-about {
    padding: 0 5% 0.12%;
    font-size: #{12px/$base}em;
    font-variant: italic;
    color: $sidebar-text-color;
    word-wrap: suppress;
  }
  .toplevel {
    a       { @include transition(background, 0.6s, ease, 0.3s); }
    a:hover { @include transition(background, 0.3s, ease, 0.1s); }
    .sub-menu {
      .arrow { top: #{-20px/$base}em; left:90%; @include transition(transform, 1.0s, ease, 0.1s); }
      &.unwound .arrow { @include transition(transform, 1.0s, ease, 0.1s); }
    }
  }
  a { cursor: pointer; }
}

#workspace {
  width: 85.333%;
  margin-left:14.667%;
  // fix for the page shifting down due to
  // accidental top-margins on top-most elements
  padding:1px 0;
  &.controls {
    #workbench {
      margin-top:#{151px/$base}em;
    }
    #sticky {
      height: #{151px/$base}em;
    }
  }
}

#workbench {
  margin: #{126px/$base}em 3.1758% 0;
}

#sticky {
  width:85.333%;
  margin-right: 0;
  height:#{65px/$base}em;
  position: fixed;
  padding:#{21px/$base}em 0 0 2.71%;
  left:14.667%;
  top:0;
  background-color: $white;
  @include box-sizing('border-box');
  z-index: $sticky-z;
  h2 {
    margin:0;
    text-transform: capitalize;
  }
  span.sub {
    font-size:#{12px/$base}em;
    text-transform: lowercase;
  }
  &.stuck {
    border-bottom: 1px solid $gray-lightest;
    @include box-shadow($gray 0px 5px 10px -10px);
    @include transition(box-shadow, 0.6s, ease, 0.3s);
    @include transition(border-bottom, 0.6s, ease, 0.3s);
  }
  #sticky-controls {
    position: relative;
    width:100%;
  }
}

.pagination-wrapper {
  position: absolute;
  right: 0;
  @include inline-block();
  li {
    @include inline-block();
    @include button-interaction();
    a {
      @include transition(background-color, 0.6s, ease, 0.3s);
      color: $gray-dark;
      padding: #{5px/$base}em #{15px/$base}em;
      &.current {
        background-color: $yellow;
        border: 1px solid $gold;
        &:hover {
          border-color: $green-darker;
        }
      }
      &:hover {
        @include transition(background-color, 0.3s, ease, 0.1s);
        background-color: $green-dark;
        color: $white;
      }
    }
  }
}


table {
  // max-width: 85%;
  border-collapse: collapse;
  border-spacing: 0;
  &.expand {
    width: 100%;
    min-width: 670px;
  }
  thead {
    background-color: $table-head-bg;
    th {
      color: $table-head-text-color;
      text-align: left;
      font-size: #{16px/$base}em;
      padding: #{5px/$base}em 0;
      @include box-sizing('border-box');
      .col-xs { width: 5%; }
      .col-s { width: 10%; }
      .col-m { width:20%; }
      .col-l { width:30%; }
      .col-xl { width:40%; }
      .col-xxl { width:50%; }
      .col-ops { width:65px; }
    }
  }
  tbody {
    td {
      padding: #{10px/$base}em 0;
      vertical-align: top;
      border-bottom: $gray-lighter 1px solid;
    }
    .ops {
      padding:6px 0;
    }
    .extra-info {
      font-style: italic;
      font-size: #{12px/$base}em;
      padding-left: #{8px/$base}em;
      max-width: 500px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    tr {
      .row-action {
        display: block;
        visibility: hidden;
        a { cursor: pointer; }
      }
      .action-item {
        @extend .icon-group;
      }
      &:hover {
        .ref {
          color: $sky;
          @include transition(color 0.3s ease 0.1s);
          &:hover {
            @extend .ref:hover;
          }
        }
        color: $green-dark;
        border-bottom: 1px solid $green;
        .row-action { visibility: visible; }
      }
    }
  }
  tfoot {
    background-color: $table-foot-bg;
    td { text-align: center; padding: #{15px/$base} 0;}
  }
}

.ref {
  @extend .no-anchor;
  cursor:pointer;
  padding:#{2px/$base}em #{8px/$base}em;
  color: $gray;
  &:hover {
    @include transition(color 0.3s ease 0.1s);
    background: $gray-lightest;
    color: $blue;
  }
}
// styles for the descriptive icons
.icon-group {
  margin: 0 0.5em;
}
.attr-group {
  cursor: help;
  @extend .icon-group;
}

.detail-row {
  margin-bottom: #{15px/$base}em;
  *zoom: 1;
  &:before, &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear:both;
  }
  .dt {
    float:left;
    width:14.6573%;
    text-align: right;
    color: $gray-light;
    line-height: #{31px/$base}em;
  }
  .dd {
    @include inline-block();
    margin-left:5%;
    font-size: #{16px/$base}em;
    color: $gray;
    line-height: #{31px/16px + 0}em;
    .ref {
      color: $blue;
      &:hover {
        @include transition(color 0.1s ease 0.1s, background 0.4s ease);
        background-color: $sky;
        color: $white;
      }
      margin-left:-0.61538em;   // fix for misaligned links
    }
  }
}
