// A stylesheet to convert the ribbon-style navbar
// to a hanging tab on the right side
@import "sandbox/_variables";
$navigator-tier-height:40px;

#navigator {
    position:fixed;
    background-color: $navbarBackground;
    width: 300px;
    margin-left:660px;
    top:0;
    z-index:10000;
    .tier {
        border:1px solid $navbarBorder;
        border-top:none;
        height:$navigator-tier-height;
        li>a {
            color: #ffffff;
            display: block;
            line-height: $navigator-tier-height;
            padding: 0 10px;
            &:hover {
                background-color: darken($navbarBackground,10%);
            }
        }
    }
}

ul.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &>li {
        display: inline-block;
        a { text-decoration: none;}
    }
}

.emblem {
    float: left;
    display: block;
    $elementHeight: 28px;
    padding:($navigator-tier-height - $elementHeight) / 2 - 1 10px 0;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    color: $navbarEmblemColor;
}
