extends ../layout-elements

block sidebar
  nav.sidebar.fix-pos#sidewinder
    ul.nav
      li
        .main-label: a(href="#types") Types
      li
        .main-label: a(href="#sizes") Sizes
      li
        .main-label: a(href="#tags") Supported Tags


block content
  h1.splash.docs-page-header Buttons

  section.docs-section#types
    h1.docs-h1 Types
    p.
      You can turn any of these elements into a button: <code>button, a, span, div</code>,
      although for the sake of semantics and sanity, the <code>&lt;button&gt;</code>
      and <code>&lt;a&gt;</code> elements should be used.
    p.
      Here is a quick example of buttons:

    table.table
      thead
        tr
          th Button
          th Classes
          th Description
      tbody
        tr
          td: button Default
          td: code NA
          td Your default button, provided by the browser
        tr
          td: button.button New
          td: code .button
          td Aegis's default button style

        tr
          td: button.button.primary Primary
          td: code .button.primary
          td For the main action on your forms.
        tr
          td: button.button.alert Alert
          td: code .button.alert
          td Reserve these for negative actions, such as deletion.
        tr
          td: button.button.neutral Neutral
          td: code .button.neutral
          td These are used for buttons which denote non-primary actions.
        tr
          td: button.button.disabled Disabled
          td: code .button.disabled
          td Use for disabled actions
        tr
          td: button.button.important Important
          td: code .button.important
          td.
            <span class='hl'>Highlight</span> Use for the primary action on your page.
            Use the highlight buttons judiciously, as a lot of them may make users
            unnecessarily lose focus from your content.
        tr
          td: button.button.hazard Hazard
          td: code .button.hazard
          td.
            <span class='hl'>Highlight</span> Use for very important negative actions,
            such as deletion or account deactivation, etc.
        tr
          td: button.button.accent Accent
          td: code .button.accent
          td.
            <span class='hl'>Highlight</span> Use for buttons which are not the primary
            action of your form.

  section.docs-section#sizes
    h1.docs-h1 Sizes
    p.
      Although the button provided above should cover 95% of the cases,
      sometimes you may find these classes don't fit your needs perfectly.
      So, here are some variations in buttons we have included. You can make
      more variations by mixing the colour classes with these.

    .example.docs-eg
      table.table.expanded.docs-eg-object
        thead
          tr
            th.cell-3 Button
            th.cell-3 Classes
            th Description
        tbody
          tr
            td: button.button.icon-hold.neutral <strong>&#9095;</strong>
            td: code .button.icon-hold
            td Useful for having a button with an icon, or an icon with a button.
          tr
            td: button.button.inline Inline
            td: code .button.inline
            td.
              Useful when you may need a button <a class='button neutral inline'>inline</a>.
              They can change height depending upon where they are used.</a>
          tr
            td: button.button.titan.alert GIGANTASAUR!
            td: code .button.titan
            td Make a mega-monstrous button.
          tr
            td: button.button.round.primary A<br>Round<br>Button
            td: code .button.round
            td Break the rectangularity, and get a rounded one!

  section.docs-section#tags
    h1.docs-h1 Supported Tags
    p.
      Officially, we support the following tags which can be turned into buttons:

    .example.docs-eg
      table.table.borderless.docs-eg-object
        tbody
          tr
            td: button.button.important Buttons
            td: input.button.accent(type="button", value='Inputs')
            td: a.button.primary Anchors
            td: span.button.neutral Spans
            td: div.button.alert Divs
      pre.docs-eg-code.
        &lt;button class="button important"&gt;Buttons&lt;/button&gt;
        &lt;input type="button" class="button accent" value='Inputs'&gt;
        &lt;a class="button primary"&gt;Anchors&lt;/a&gt;
        &lt;span class="button accent"&gt;Spans&lt;/span&gt;
        &lt;div class="button hazard"&gt;DIVs&lt;/div&gt;
