extends ../layout-base

block body
  .wrapper.grid-12
    section.docs-section#intro
      h1.splash Aegis
      :markdown
        To start using the Aegis UI, download the compiled css and javascript files.
        Include them in your project, and start designing. The only requirement for
        Aegis is **jQuery**, which is required for animations and rendering advanced form elements.
        So, what are you waiting for? Click the shiny green button and get going!
        You can also have a look at the source files if you want to customize or
        contribute to the project.

      button.button.accent.titan Download Aegis
      button.button.primary.titan View Project on Github

    section.docs-section#usage
      h3.docs-h3 Usage
      p.
        To use Aegis in your project, link to the css and js files as such:

      pre.docs-eg-code
        &lt;link rel=&quot;stylesheet&quot; href=&quot;&lt;path-to-css&gt;/aegis.css&quot;&gt;
        &lt;script type=&#039;text/javascript&#039; src=&#039;&lt;path-to-js&gt;/jquery.js&#039;&gt;&lt;/script&gt;
        &lt;script type=&#039;text/javascript&#039; src=&#039;&lt;path-to-js&gt;/aegis.js&#039;&gt;&lt;/script&gt;

