extends ../layout-base

block body
  .wrapper.grid-12
    section.docs-section#intro.col-12
      h1.splash Aegis<span class="fade-7"> css framework</span>
      article.col-8
        p.
          To start using Aegis, download the compiled and minified css.
          Include the css in your project, and start designing.
          If you plan to also use the Aegis javascript plugins, then don't forget to include
          <strong>jQuery</strong> in your html. Aegis requires jQuery for animations and
          rendering advanced form elements.

        p.
          So, what are you waiting for? Grab the latest version of Aegis and get going!
          You can also have a look at project source files if you want to customize or
          contribute to its development.

      aside.col-4
        div.col-10.docs-splash-sep.pfx-1
          a.col-12.button.accent.docs-multiline.titan(href="https://github.com/playlyfe/aegis/archive/0.2.zip") Download Aegis <small>(zip)</small>
            div.docs-subtext version 0.2 (27-06-13)
        div.col-10.docs-splash-sep.pfx-1
          a.col-12.button.primary.titan(href="https://github.com/playlyfe/aegis") View on Github

    section.docs-section#tips.col-12
      article.docs-article#usage.col-7.sfx-1.no-border
        h4.docs-h4 Usage
        p.
          Aegis is listed on bower now. You can directly start using it with this command:

        pre.docs-eg-code.
          bower install aegis --save

        p.
          To use Aegis in your project, link to the css and js files as such:

        pre.docs-eg-code
          &lt;link rel=&quot;stylesheet&quot; href=&quot;&lt;path-to-css&gt;/aegis.css&quot;&gt;
          &lt;script type=&quot;text/javascript&quot; src=&quot;&lt;path-to-js&gt;/jquery.js&quot;&gt;&lt;/script&gt;

        //- p.
        //-   For using the aegis plugins, include the scripts separately after jquery:

        //- pre.docs-eg-code
        //-   &lt;script type=&quot;text/javascript&quot; src=&quot;&lt;path-to-js&gt;/aegis-{plugin}.js&quot;&gt;&lt;/script&gt;

      article.docs-article#note.col-4
        h4.docs-h4 A Small Note
        p.
          The js plugins are in development, therefore you won't find a download button for them. But in case
          you want to try them, you can always<br>
          <a href="https://github.com/playlyfe/aegis/tree/gh-pages/assets/js">download the plugins manually</a>.
        p.
          As long as Aegis is in alpha, keep an eye out for future changes which may (or may not)
          break your page styles and cause apocalypse. We invite you to contribute to the project if
          you want to accelerate the pace of development (or to prevent apocalypse and be called a hero).
          Once the framework has matured, we'll come out with a stable version for you.

        h6.
          Have Fun
