// forms partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh / Johny Jose
// 24.Jan.2013

.button {
  // space subsequent buttons
  &~.button {
    margin-left:#{0.5*$base-line-height/$base}em;
  }

  @extend .no-anchor;
  @include inline-block();
  @include no-select();
  padding: #{4px/$base}em #{20px/$base}em;
  margin: 0;

  font-size: #{14px/$base}em;
  line-height: #{21px/$base}em;
  *line-height: #{21px/$base}em;
  height: #{30px/$base}em;

  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  color: $button-text;
  background-color: $button-bg;
  border: 1px solid $button-border;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus

  @include box-sizing(border-box);

  // Button sizes

  /* smallest, icon-holder */
  &.icon-hold {
    padding: 3px 7px; // center the 16px icon in the button
  }
  /* medium, inline */
  &.inline {
    @include inline-block();
    float: none;
    margin: 0 #{4px/$base}em;
    height:2em;
    line-height: 1.9em;
    padding-top: 0;
    padding-bottom: 0.1em;
  }
  /* gigantic, block */
  &.titan {
    font-size: #{18px/$base}em;
    height: 3em;
    line-height: 2.8em;
    padding: 0 #{20px/$base}em;
  }
  /* round buttons */
  &.round {
    width: 8em;
    height: 8em;
    @include border-radius(4em);
    line-height: 7.5em;
    font-size: 1.5em;
  }


  // Button colours
  &.important {
    background-color: $green; color: $white; border-color: $green-dark;
  }
  &.hazard {
    background-color: $red; color: $white; border-color: darken($red,10%);
  }
  &:hover {
    text-decoration: none;
    color: $gray-darker;
    background-color: darken($button-bg,10%);
    @include transition(background 0.2s ease 0.1s,
                        color 0.1s ease 0.1s,
                        border 0.6s ease 0.1s);

    &.important {
      background-color: $green-dark; color:$white; border-color: $green-darker;
    }
    &.hazard {
      background-color: darken($red,10%); color:$white; border-color: darken($red,20%);
    }
    // main colours
    &.primary {
      background-color: $green; color: $white; border-color: $green-dark;
    }
    &.neutral {
      background-color: $sky; color: $white; border-color: darken($sky,10%);
    }
    &.alert {
      background-color: $red; color: $white; border-color: darken($red,10%);
    }
    &.passive {
      border-color: darken($button-border,5%);
    }
  }
  &:focus {
    @include tab-focus();
  }
}
