// page partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh / Johny Jose
// 20.Jan.2013

$golden : 1.618;  // the golden ratio

/**
 * Colours
 */
$playlyfe : #95d905;

  // Grays (tinted)
  $black:              #000 !default;
  $gray-darker:        #222;
  $gray-dark:          #333;
  $gray:               #555;
  $gray-light:         #888;
  $gray-lighter:       #bbb;
  $gray-lightest:      #eee;
  $white:              #fff !default;

  // Greens
  // TODOKHS: normalize the colours;
  $green:                  desaturate($playlyfe, $golden * 10);
  $green-darkest:          mix($black, $green, 100% / $golden);
  $green-darker:           mix($black, $green, 30%);
  $green-dark:             mix($black, $green, 10%);
  $green-highlight:        lighten($green, 100% / ( $golden * $golden * $golden));
  $green-light:            mix($white, $green, 100% / ( $golden * $golden * $golden) );
  $green-lighter:          mix($white, $green, 70%);
  $green-lightest:         mix($white, $green, 85%);
  $green-gray:             #667755;

  // Accents
  // TODOKHS: Add tints, normalize the colours;
  $blue:                  #1b5ddf !default;
  $sky:                   #259dff !default;
  $navy:                  #023c7c !default;
  $green:                 #95d905 !default;
  $red:                   #e20000 !default;
  $purple:                #68008c !default;
  $yellow:                #ffcc00 !default;
  $orange:                #e35905 !default;
  $gold:                  #da9100 !default;


// NAVBAR
$navbar-height:40px;
$emblem-height: 28px;
$navbar-bg: $green;
$navbar-bg-hl: $green-dark;
$navbar-border: $green-dark;
$navbar-text-color: $white;


// SIDEBAR RULES
$side-text-size: 13px;

$side-color: $gray-dark;
$side-color-hl: $green;
$side-color-select: $green-dark;
$side-color-submenu-hl: $sky;
$side-color-submenu-select: $sky;

$side-border: #dddddd;
$side-border-menu: #dddddd;

$side-bg: #ffffff;
$side-bg-select: $green-dark;
$side-bg-hl: $green;
$side-bg-submenu-hl: lighten($sky,10%);
$side-bg-submenu-select: $sky;


// UNINAV RULES
$uninav-color: $side-color;
$uninav-color-hl: $side-color-submenu-hl;
$uninav-color-select: $side-color-select;
$uninav-color-select-hl: $side-color-hl;
$uninav-border: $side-border-menu;

// TABLE
$table-head-bg: $white;
$table-head-text-color: $gray-light;
$table-foot-bg: $white;

// Z-Index order
$sticky-z: 50;
$sidebar-z: 100;
$mask-z: 200;
$modal-z: 250;
$file-input-z: 150;


// TYPOGRAPHY
$base: 13px;
$base-font-family: 'Droid Sans', 'sans serif';
$base-font-size: $base;
$base-line-height: 21px;
$text-color: $gray;

// Text colours
$link-color:              #83c100 !default;
$link-color-hover:        #1b5ddf !default;

$heading-color:           $gray !default;
$subheading-color:        $gray-lighter !default;

$h6-size: 1.08em;
$h5-size: 1.15em;
$h4-size: 1.62em;
$h3-size: 2.08em;
$h2-size: 2.62em;
$h1-size: 3.38em;


// Forms
$input-bg: $gray;
$input-bg-hl: $green;
$input-bg-error: $red;
$input-text: $gray-lightest;
$input-text-hl: $white;
$input-border-color: $gray-dark;
$input-border-radius: 0px;

// Buttons
$button-text: $gray-dark;
$button-bg: $gray-lightest;
$button-border: darken($gray-lightest,5%);
