.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  li {
    margin: 0;
    padding: 8px 4px;
    width: 100%;
    display: block;
    border-bottom: 1px solid $gray-lightest;
  }
}
