// Utility mixins
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

@mixin no-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin button-interaction() {
    @include no-select();
    cursor: pointer;
}

@mixin tab-focus() {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.clearfix {
  @include clearfix();
}

// Utility styles
.no-list {
    list-style: none;
}
.no-space {
    margin: 0; padding: 0;
}
.no-anchor {
    text-decoration: none;
}
