.mask {
  display: block;
  z-index: $mask-z;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $white;
  opacity: 0.70;
}
.modal {
  position: fixed;
  width: 500px;
  margin-left: -250px;
  top: 15%;
  left: 50%;
  z-index: $modal-z;
  overflow: visible;
  background: $white;
  @include box-shadow(1px 2px 7px rgba(0,0,0,0.15));
  @include background-clip(padding-box);
  .close-button {
    @include button-interaction();
    position: absolute;
    font-size: 25px;
    top: 5px;
    right: 6px;
  }
}
