// navigation partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh
// 20.Jan.2013


.navbar {
  background-color: $navbar-bg;
  border-bottom: 1px solid $navbar-border;
  top:0;
  z-index:10000;
  @include box-sizing('border-box');
  .tier {
    height: $navbar-height;
    .nav {
      float: right;
    }
  }
  li {
    display: block;
    float:left;
    &:hover {
      background-color: $navbar-bg-hl;
    }
  }
  a {
    $icon-height: 16px;
    $padding: ($navbar-height - $icon-height)/2;
    padding: 0 $padding;
    color: $navbar-text-color;
    line-height: $navbar-height;
    &:hover {
      background-color: $navbar-bg-hl;
    }
  }
  .emblem {
    float:left;
    display: block;
    @include box-sizing('border-box');
    height: $navbar-height;
    padding: 6px 12px 5px;
    margin-left: -12px;
    font-size: 1em;
    line-height: 1em;
    color: $navbar-text-color;
    &:hover {
      background-color: transparent;
    }
  }
}

.nav {
  @include clearfix();
  @extend .no-list;
  @extend .no-space;
  a {
    @extend .no-anchor;
    display: block;
  }
}
