// page partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh / Johny Jose
// 20.Jan.2013

// TYPOGRAPHY
$baseFontFamily: "Droid Sans", "sans serif";
$baseFontSize: 13px;
$baseLineHeight: 21px;

$h6Size: 14px;
$h5Size: 16px;
$h4Size: 21px;
$h3Size: 27px;
$h2Size: 34px;
$h1Size: 44px;

// Hyperlinks
$linkColor:             #83c100 !default;
$linkColorHover:        #1b5ddf !default;
