// sidebar partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh
// 20.Jan.2013

.sidebar {
  position: fixed;
  top:0;
  left:0;
  margin:0;
  background: $side-bg;
  border-right:1px solid $side-border;
  font-size:$side-text-size;
  height: 100%;
  z-index: $sidebar-z;
  @include box-shadow($side-border 0px 0px 10px -1px);
  @include no-select();

  a {
    border: none;
    border-left: 5px solid white;
    color: $side-color;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 0 5px 10px;
    @include transition(background, 0.3s, ease, 0.3s);
    &:hover {
      color: $side-color-hl;
      @include transition(border-color, 0.3s, ease, 0.2s);
    }
  }

  .main-label {
    position: relative;
    .arrow {
      display: block;
      position: absolute;
      top:10px; right:15px;
      width: 0; height: 0;
      border-left: 5px solid $side-color;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      @include transition(transform, 1.0s, ease, 0.1s);
    }
    & > a { border-left-color: $side-border-menu; }
    &:hover {
      .arrow { border-left-color: $side-bg-hl; }
      & > a { border-left-color: $side-bg-hl; color: $side-color-hl; }
    }
  }

  .unwound .main-label {
    & > a {
      font-weight: bold;
    }
    .arrow {
      @include transition(transform, 1.0s, ease, 0.1s);
      @include rotateZ(90deg);
    }
    &:hover {
      & > a, .arrow {
        border-left-color: $side-bg-hl;
      }
    }
  }

  .live-l1 .main-label {
    & > a {
      color: $side-color-select;
      border-left-color: $side-bg-select;
    }
    & > .arrow {
      border-left-color: $side-bg-select;
    }
  }

  .sub-label > a {
    border-left: 2px solid $side-border-menu;
    margin-left: 13px;
    &:hover {
      color: $side-color-submenu-hl;
      border-left-color: $side-bg-submenu-hl;
    }
  }
  .live-l2 > a {
    border-left-color: $side-bg-submenu-select;
    color: $side-color-submenu-select;
    font-weight: bold;
  }
}
