// forms partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh
// 11.Feb.2013


.clearfix {
  @include clearfix();
}
.no-space {
  margin: 0; padding: 0;
}
.no-list {
  @extend .no-space;
  list-style: none;
}
.no-anchor {
  text-decoration: none;
  outline: none;
}
.no-float {
  float: none;
}
.static-pos {
  position: static !important;
}
.abs-pos {
  position: absolute !important;
}

.width-auto {
  width: auto !important;
}

// rules
hr.dotted {
  border: 0;
  margin: 5px auto;
  height: 1px;
  border-bottom: 2px dotted $gray-lightest;
  &.big {
    margin: 20px auto;
    border-width: 5px;
  }
  &.notop { margin-top: 0; }
  &.nobot { margin-bottom: 0 }
  &.dark {
    border-color: $gray-dark;
  }
}

.snippet {
  padding: 0.2em 0.5em;
  max-width:400px;
  border: 1px dashed $green-dark;
  @include box-sizing('border-box');
  @include inline-block();
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: #{12px/$base}em;
  &:hover {
    background-color: $green;
    color: $white;
    @include transition(all 0.4s ease 0.1s);
  }
}
