// forms partial
// Aegis UI (derived from Playlyfe Sandbox)
// Kumar Harsh
// 11.Feb.2013


.clearfix {
  @include clearfix();
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.no-space {
  margin: 0 !important;
  padding: 0 !important;
}
.no-list {
  @extend .no-space;
  list-style: none !important;
}
.no-top { margin-top: 0; }
.no-bot { margin-bottom: 0 }
.no-anchor {
  text-decoration: none !important;
  outline: none;
  &:hover {
    text-decoration: none !important;
  }
}
.no-float {
  float: none !important;
}
.static-pos {
  position: static !important;
}
.abs-pos {
  position: absolute !important;
}

.width-auto {
  width: auto !important;
}
