/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:b2b7cc8c791ba3a4f269ae9cfae83f36$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(core-icons.png);}

.actions-disabled-16 {width:16px; height:16px; background-position: -96px -568px}
.actions-disabled-32 {width:32px; height:32px; background-position: -432px -576px}
.actions-disabled-64 {width:64px; height:64px; background-position: -432px -448px}
.actions-hover-16 {width:16px; height:16px; background-position: -96px -184px}
.actions-hover-32 {width:32px; height:32px; background-position: -64px -248px}
.actions-hover-64 {width:64px; height:64px; background-position: -376px -0px}
.actions-normal-16 {width:16px; height:16px; background-position: -96px -552px}
.actions-normal-32 {width:32px; height:32px; background-position: -400px -576px}
.actions-normal-64 {width:64px; height:64px; background-position: -368px -448px}
.analytics-disabled-16 {width:16px; height:16px; background-position: -496px -528px}
.analytics-disabled-32 {width:32px; height:32px; background-position: -368px -576px}
.analytics-disabled-64 {width:64px; height:64px; background-position: -304px -448px}
.analytics-hover-16 {width:16px; height:16px; background-position: -496px -512px}
.analytics-hover-32 {width:32px; height:32px; background-position: -336px -576px}
.analytics-hover-64 {width:64px; height:64px; background-position: -240px -448px}
.analytics-normal-16 {width:16px; height:16px; background-position: -96px -536px}
.analytics-normal-32 {width:32px; height:32px; background-position: -304px -576px}
.analytics-normal-64 {width:64px; height:64px; background-position: -176px -448px}
.app-120 {width:120px; height:120px; background-position: -0px -0px}
.app-16 {width:16px; height:16px; background-position: -96px -120px}
.app-32 {width:32px; height:32px; background-position: -64px -120px}
.app-64 {width:64px; height:64px; background-position: -120px -0px}
.constraints-disabled-16 {width:16px; height:16px; background-position: -96px -520px}
.constraints-disabled-32 {width:32px; height:32px; background-position: -272px -576px}
.constraints-disabled-64 {width:64px; height:64px; background-position: -0px -504px}
.constraints-hover-16 {width:16px; height:16px; background-position: -496px -496px}
.constraints-hover-32 {width:32px; height:32px; background-position: -240px -576px}
.constraints-hover-64 {width:64px; height:64px; background-position: -112px -448px}
.constraints-normal-16 {width:16px; height:16px; background-position: -496px -480px}
.constraints-normal-32 {width:32px; height:32px; background-position: -208px -576px}
.constraints-normal-64 {width:64px; height:64px; background-position: -432px -384px}
.feats-disabled-16 {width:16px; height:16px; background-position: -496px -464px}
.feats-disabled-32 {width:32px; height:32px; background-position: -176px -576px}
.feats-disabled-64 {width:64px; height:64px; background-position: -368px -384px}
.feats-hover-16 {width:16px; height:16px; background-position: -496px -448px}
.feats-hover-32 {width:32px; height:32px; background-position: -144px -576px}
.feats-hover-64 {width:64px; height:64px; background-position: -304px -384px}
.feats-normal-16 {width:16px; height:16px; background-position: -96px -504px}
.feats-normal-32 {width:32px; height:32px; background-position: -64px -600px}
.feats-normal-64 {width:64px; height:64px; background-position: -240px -384px}
.game-disabled-16 {width:16px; height:16px; background-position: -96px -488px}
.game-disabled-32 {width:32px; height:32px; background-position: -32px -600px}
.game-disabled-64 {width:64px; height:64px; background-position: -176px -384px}
.game-hover-16 {width:16px; height:16px; background-position: -96px -472px}
.game-hover-32 {width:32px; height:32px; background-position: -0px -600px}
.game-hover-64 {width:64px; height:64px; background-position: -0px -440px}
.game-normal-16 {width:16px; height:16px; background-position: -96px -456px}
.game-normal-32 {width:32px; height:32px; background-position: -112px -576px}
.game-normal-64 {width:64px; height:64px; background-position: -112px -384px}
.objectives-disabled-16 {width:16px; height:16px; background-position: -496px -432px}
.objectives-disabled-32 {width:32px; height:32px; background-position: -464px -544px}
.objectives-disabled-64 {width:64px; height:64px; background-position: -432px -320px}
.objectives-hover-16 {width:16px; height:16px; background-position: -496px -416px}
.objectives-hover-32 {width:32px; height:32px; background-position: -432px -544px}
.objectives-hover-64 {width:64px; height:64px; background-position: -368px -320px}
.objectives-normal-16 {width:16px; height:16px; background-position: -496px -400px}
.objectives-normal-32 {width:32px; height:32px; background-position: -400px -544px}
.objectives-normal-64 {width:64px; height:64px; background-position: -304px -320px}
.objects-disabled-16 {width:16px; height:16px; background-position: -496px -384px}
.objects-disabled-32 {width:32px; height:32px; background-position: -368px -544px}
.objects-disabled-64 {width:64px; height:64px; background-position: -240px -320px}
.objects-hover-16 {width:16px; height:16px; background-position: -96px -440px}
.objects-hover-32 {width:32px; height:32px; background-position: -336px -544px}
.objects-hover-64 {width:64px; height:64px; background-position: -176px -320px}
.objects-normal-16 {width:16px; height:16px; background-position: -96px -424px}
.objects-normal-32 {width:32px; height:32px; background-position: -304px -544px}
.objects-normal-64 {width:64px; height:64px; background-position: -0px -376px}
.permissions-disabled-16 {width:16px; height:16px; background-position: -96px -408px}
.permissions-disabled-32 {width:32px; height:32px; background-position: -272px -544px}
.permissions-disabled-64 {width:64px; height:64px; background-position: -112px -320px}
.permissions-hover-16 {width:16px; height:16px; background-position: -96px -392px}
.permissions-hover-32 {width:32px; height:32px; background-position: -240px -544px}
.permissions-hover-64 {width:64px; height:64px; background-position: -432px -256px}
.permissions-normal-16 {width:16px; height:16px; background-position: -496px -368px}
.permissions-normal-32 {width:32px; height:32px; background-position: -208px -544px}
.permissions-normal-64 {width:64px; height:64px; background-position: -368px -256px}
.playerobj-disabled-16 {width:16px; height:16px; background-position: -496px -352px}
.playerobj-disabled-32 {width:32px; height:32px; background-position: -176px -544px}
.playerobj-disabled-64 {width:64px; height:64px; background-position: -304px -256px}
.playerobj-hover-16 {width:16px; height:16px; background-position: -496px -336px}
.playerobj-hover-32 {width:32px; height:32px; background-position: -144px -544px}
.playerobj-hover-64 {width:64px; height:64px; background-position: -240px -256px}
.playerobj-normal-16 {width:16px; height:16px; background-position: -496px -320px}
.playerobj-normal-32 {width:32px; height:32px; background-position: -64px -568px}
.playerobj-normal-64 {width:64px; height:64px; background-position: -176px -256px}
.playground-disabled-16 {width:16px; height:16px; background-position: -96px -376px}
.playground-disabled-32 {width:32px; height:32px; background-position: -32px -568px}
.playground-disabled-64 {width:64px; height:64px; background-position: -0px -312px}
.playground-hover-16 {width:16px; height:16px; background-position: -96px -360px}
.playground-hover-32 {width:32px; height:32px; background-position: -0px -568px}
.playground-hover-64 {width:64px; height:64px; background-position: -112px -256px}
.playground-normal-16 {width:16px; height:16px; background-position: -96px -344px}
.playground-normal-32 {width:32px; height:32px; background-position: -112px -544px}
.playground-normal-64 {width:64px; height:64px; background-position: -432px -192px}
.quests-disabled-16 {width:16px; height:16px; background-position: -96px -328px}
.quests-disabled-32 {width:32px; height:32px; background-position: -464px -512px}
.quests-disabled-64 {width:64px; height:64px; background-position: -368px -192px}
.quests-hover-16 {width:16px; height:16px; background-position: -496px -304px}
.quests-hover-32 {width:32px; height:32px; background-position: -432px -512px}
.quests-hover-64 {width:64px; height:64px; background-position: -304px -192px}
.quests-normal-16 {width:16px; height:16px; background-position: -496px -288px}
.quests-normal-32 {width:32px; height:32px; background-position: -400px -512px}
.quests-normal-64 {width:64px; height:64px; background-position: -240px -192px}
.roles-disabled-16 {width:16px; height:16px; background-position: -496px -272px}
.roles-disabled-32 {width:32px; height:32px; background-position: -368px -512px}
.roles-disabled-64 {width:64px; height:64px; background-position: -176px -192px}
.roles-hover-16 {width:16px; height:16px; background-position: -496px -256px}
.roles-hover-32 {width:32px; height:32px; background-position: -336px -512px}
.roles-hover-64 {width:64px; height:64px; background-position: -0px -248px}
.roles-normal-16 {width:16px; height:16px; background-position: -96px -312px}
.roles-normal-32 {width:32px; height:32px; background-position: -304px -512px}
.roles-normal-64 {width:64px; height:64px; background-position: -112px -192px}
.sandbox-disabled-16 {width:16px; height:16px; background-position: -96px -296px}
.sandbox-disabled-32 {width:32px; height:32px; background-position: -272px -512px}
.sandbox-disabled-64 {width:64px; height:64px; background-position: -432px -128px}
.sandbox-hover-16 {width:16px; height:16px; background-position: -96px -280px}
.sandbox-hover-32 {width:32px; height:32px; background-position: -240px -512px}
.sandbox-hover-64 {width:64px; height:64px; background-position: -368px -128px}
.sandbox-normal-16 {width:16px; height:16px; background-position: -96px -264px}
.sandbox-normal-32 {width:32px; height:32px; background-position: -208px -512px}
.sandbox-normal-64 {width:64px; height:64px; background-position: -304px -128px}
.search-disabled-16 {width:16px; height:16px; background-position: -96px -168px}
.search-disabled-32 {width:32px; height:32px; background-position: -64px -216px}
.search-disabled-64 {width:64px; height:64px; background-position: -312px -0px}
.search-hover-16 {width:16px; height:16px; background-position: -96px -152px}
.search-hover-32 {width:32px; height:32px; background-position: -64px -184px}
.search-hover-64 {width:64px; height:64px; background-position: -248px -0px}
.search-normal-16 {width:16px; height:16px; background-position: -96px -136px}
.search-normal-32 {width:32px; height:32px; background-position: -64px -152px}
.search-normal-64 {width:64px; height:64px; background-position: -184px -0px}
.settings-disabled-16 {width:16px; height:16px; background-position: -496px -240px}
.settings-disabled-32 {width:32px; height:32px; background-position: -176px -512px}
.settings-disabled-64 {width:64px; height:64px; background-position: -240px -128px}
.settings-hover-16 {width:16px; height:16px; background-position: -496px -224px}
.settings-hover-32 {width:32px; height:32px; background-position: -144px -512px}
.settings-hover-64 {width:64px; height:64px; background-position: -176px -128px}
.settings-normal-16 {width:16px; height:16px; background-position: -496px -208px}
.settings-normal-32 {width:32px; height:32px; background-position: -64px -536px}
.settings-normal-64 {width:64px; height:64px; background-position: -0px -184px}
.targets-disabled-16 {width:16px; height:16px; background-position: -496px -192px}
.targets-disabled-32 {width:32px; height:32px; background-position: -112px -512px}
.targets-disabled-64 {width:64px; height:64px; background-position: -112px -128px}
.targets-hover-16 {width:16px; height:16px; background-position: -96px -248px}
.targets-hover-32 {width:32px; height:32px; background-position: -64px -504px}
.targets-hover-64 {width:64px; height:64px; background-position: -440px -64px}
.targets-normal-16 {width:16px; height:16px; background-position: -96px -232px}
.targets-normal-32 {width:32px; height:32px; background-position: -64px -472px}
.targets-normal-64 {width:64px; height:64px; background-position: -376px -64px}
.tasks-disabled-16 {width:16px; height:16px; background-position: -96px -216px}
.tasks-disabled-32 {width:32px; height:32px; background-position: -64px -440px}
.tasks-disabled-64 {width:64px; height:64px; background-position: -312px -64px}
.tasks-hover-16 {width:16px; height:16px; background-position: -96px -200px}
.tasks-hover-32 {width:32px; height:32px; background-position: -64px -408px}
.tasks-hover-64 {width:64px; height:64px; background-position: -248px -64px}
.tasks-normal-16 {width:16px; height:16px; background-position: -496px -176px}
.tasks-normal-32 {width:32px; height:32px; background-position: -64px -376px}
.tasks-normal-64 {width:64px; height:64px; background-position: -184px -64px}
.vision-disabled-16 {width:16px; height:16px; background-position: -496px -160px}
.vision-disabled-32 {width:32px; height:32px; background-position: -64px -344px}
.vision-disabled-64 {width:64px; height:64px; background-position: -0px -120px}
.vision-hover-16 {width:16px; height:16px; background-position: -496px -144px}
.vision-hover-32 {width:32px; height:32px; background-position: -64px -312px}
.vision-hover-64 {width:64px; height:64px; background-position: -120px -64px}
.vision-normal-16 {width:16px; height:16px; background-position: -496px -128px}
.vision-normal-32 {width:32px; height:32px; background-position: -64px -280px}
.vision-normal-64 {width:64px; height:64px; background-position: -440px -0px}
