/*
 * constants partial
 * Aegis UI (derived from Playlyfe Sandbox)
 * Kumar Harsh / Johny Jose
 * 20.Jan.2013
 */
/*
 * All the colours and sizes are stored here.
 * If you are looking for a quick makeover,
 * just change the values of variables here.
 */
/*
  ===========================
  COLOURS
  ===========================
*/
/* line 9, ../../../sass/_utilities.scss */
.clearfix {
  *zoom: 1;
}
/* line 5, ../../../sass/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 9, ../../../sass/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 12, ../../../sass/_utilities.scss */
.hide {
  display: none !important;
}

/* line 15, ../../../sass/_utilities.scss */
.show {
  display: block !important;
}

/* line 19, ../../../sass/_utilities.scss */
.no-top {
  margin-top: 0;
}

/* line 20, ../../../sass/_utilities.scss */
.no-bot {
  margin-bottom: 0;
}

/* line 21, ../../../sass/_utilities.scss */
.no-space, ul.no-list, ul.inline, ol.no-list, ol.inline {
  margin: 0;
  padding: 0;
}

/* line 26, ../../../sass/_utilities.scss */
.no-anchor, .docs-h1 a, .docs-h3 a, .docs-h4 a {
  text-decoration: none !important;
  outline: none;
}
/* line 30, ../../../sass/_utilities.scss */
.no-anchor:hover, .docs-h1 a:hover, .docs-h3 a:hover, .docs-h4 a:hover {
  text-decoration: none !important;
}

/* line 34, ../../../sass/_utilities.scss */
.no-float {
  float: none !important;
}

/* line 37, ../../../sass/_utilities.scss */
.left {
  float: left !important;
}

/* line 40, ../../../sass/_utilities.scss */
.right {
  float: right !important;
}

/* line 43, ../../../sass/_utilities.scss */
.static-pos {
  position: static !important;
}

/* line 46, ../../../sass/_utilities.scss */
.abs-pos {
  position: absolute !important;
}

/* line 49, ../../../sass/_utilities.scss */
.fix-pos {
  position: fixed !important;
}

/* line 52, ../../../sass/_utilities.scss */
.width-auto {
  width: auto !important;
}

/* line 55, ../../../sass/_utilities.scss */
.inline {
  display: inline;
}

/* line 58, ../../../sass/_utilities.scss */
.block {
  display: block;
}

/* line 62, ../../../sass/_utilities.scss */
.icon-group, .attr-group {
  margin: 0 0.5em;
}

/* line 66, ../../../sass/_utilities.scss */
.attr-group {
  cursor: help;
}

/* line 70, ../../../sass/_utilities.scss */
.fade {
  opacity: 0.2;
}

/* line 77, ../../../sass/_utilities.scss */
ul.no-list, ul.inline, ol.no-list, ol.inline {
  list-style: none !important;
}
/* line 84, ../../../sass/_utilities.scss */
ul.inline > li, ol.inline > li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 0.25em;
}

/* line 6, ../../../sass/docs.scss */
#sidebar {
  margin-top: 40px;
}

/* line 9, ../../../sass/docs.scss */
.content {
  margin-top: 0;
}

/* line 12, ../../../sass/docs.scss */
.docs-page-header {
  padding: 24.72px 0;
  border-bottom: 2px solid #ddeeb9;
  font-weight: 100;
}

/* line 17, ../../../sass/docs.scss */
.docs-eg {
  position: relative;
}

/* line 20, ../../../sass/docs.scss */
.docs-eg-code {
  clear: left;
  position: relative;
  top: 100%;
}

/* line 25, ../../../sass/docs.scss */
.docs-section {
  padding: 3.5em 0;
  border-bottom: 2px dashed #dddddd;
}

/* line 29, ../../../sass/docs.scss */
.docs-article {
  padding-bottom: 1em;
  border-bottom: 1px dashed #eeeeee;
}
/* line 32, ../../../sass/docs.scss */
.docs-article:last-child {
  border-bottom: none;
}
/* line 35, ../../../sass/docs.scss */
.docs-article .docs-h3 {
  padding-top: 40px;
}

/* line 39, ../../../sass/docs.scss */
.docs-h1 {
  padding-bottom: 0.3em;
}

/* line 42, ../../../sass/docs.scss */
.docs-h3 {
  padding-top: 10px;
}

/* line 46, ../../../sass/docs.scss */
.docs-h1 a, .docs-h3 a, .docs-h4 a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: #333333;
}
/* line 50, ../../../sass/docs.scss */
.docs-h1 a:hover, .docs-h3 a:hover, .docs-h4 a:hover {
  color: #2d5d84;
}
